{% extends ":Front:base.html.twig" %}
{% block body %}
    <div class="page-title-container">
        <div class="container">
            <div class="page-title pull-left">
                <h2 class="entry-title">Edit profile</h2>
            </div>
        </div>
    </div>
    <section id="content" class="gray-area">
        <div class="container">
            {% trans_default_domain 'FOSUserBundle' %}
            {% include ':Front:alert.html.twig' %}
            <div class="row">
                <div id="main" class="col-sms-6 col-sm-8 col-md-12">
                    <div class="booking-section travelo-box">
                        {{ form_start(form) }}
                        <div class="row">
                            {{ formulaire.input("col-md-4","First Name",form.firstName,true) }}
                            {{ formulaire.input("col-md-4","Last Name",form.lastName,true) }}
                        </div>
                        <div class="row">
                            {{ formulaire.input("col-md-4","Phone",form.phone,true) }}
                            {{ formulaire.input("col-md-8","Address",form.address,true) }}
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6 col-md-5">
                                <button type="submit"  class="full-width btn-large">{{ 'profile.edit.submit'|trans }}</button>
                            </div>
                        </div>
                        {{ form_end(form) }} 
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}