{% extends ":Front:base.html.twig" %}
{% block title %}{{ status_code }} {{ status_text }}{% endblock %}
{% block body %}
    <div class="page-title-container">
        <div class="container">
            <div class="page-title pull-left">
                <h2 class="entry-title">{{ status_code }} {{ status_text }}</h2>
            </div>
        </div>
    </div>
    <section id="content" class="slideshow-bg">
        <div class="container">
            <div class="row">
                <h1>Oops! An Error Occurred</h1>
                <h2>The server returned a "{{ status_code }} {{ status_text }}".</h2>

                <div>
                    Something is broken. Please let us know what you were doing when this error occurred.
                    We will fix it as soon as possible. Sorry for any inconvenience caused.
                </div>

                <h1>
                    {{ exception.message|nl2br|format_file_from_text }}
                </h1>

            </div>
        </div>
    </section>
{% endblock %}

