{% extends ":Front:base.html.twig" %}
{% block title %}{{ course|title }}{% endblock %}
{% block body %}
    {% set stars= (school.stars/5) *100 %}
    <div class="page-title-container">
        <div class="container">
            <div class="page-title pull-left">
                <h2 class="entry-title">{{ course|title }}</h2>
            </div>
        </div>
    </div>
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="row">
                    <div id="main" class="col-md-9">
                        <div class="tab-pane fade in active" id="School-description">
                            <div class="long-description">
                                <h2 class="name">{{ course|title  }}</h2>
                                <p class="description">
                                    {{ course.description }}
                                </p>
                                <h2 class="name">Courses</h2>
                                <div class="toggle-container box"  id="Courses">
                                    {% for courseSubject in course.courseSubjects %}
                                        <div class="panel style1">
                                            <h4 class="panel-title">
                                                <a  class="back-to-courses animated" data-animation-type="bounce" href="#tgg{{ courseSubject.id }}"  data-parent="#Courses" data-toggle="collapse">
                                                    {{ courseSubject|title }}
                                                </a>
                                            </h4>
                                            <div class="panel-collapse collapse" id="tgg{{ courseSubject.id }}">
                                                <div class="panel-content">
                                                    <div class="tab-container full-width-style white-bg">
                                                        <ul class="tabs">
                                                            {% for description in courseSubject.descriptions %}
                                                                <li {% if loop.index==1 %}class="active"{% endif %}><a style="white-space: inherit;  font-size: 0.9em;" href="#description{{ description.id }}" data-toggle="tab"><i class="soap-icon-list circle"></i>{{ description.title }}</a></li>
                                                            {% endfor %}
                                                        </ul>
                                                        <div class="tab-content">
                                                            {% for description in courseSubject.descriptions %}
                                                                <div class="tab-pane fade {% if loop.index==1 %} in active{% endif %}" id="description{{ description.id }}">
                                                                    {#                                                                    <h2 class="tab-content-title">{{ description.title }}</h2>#}
                                                                    {{ description.description|raw }}
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar col-md-3">
                        <article class="detailed-logo" id="hotel-reviews">
                            <figure>
                                <img width="114" height="85" src="{{ school.image.getAssetPath | imagine_filter('minature_details') }}" alt="">
                            </figure>
                            <div class="details">
                                <h2 class="box-title">{{ school|title }}<small><i class="soap-icon-departure yellow-color"></i><span class="fourty-space">{{ school.city.country|upper }}, {{ school.city }}</span></small></h2>
                            </div>
                            <div class="block">
                                <a href="{{ path('front_program_pathway_step1',{'course':course.id}) }}" class="button btn-medium red full-width" style="margin-bottom: 5px;">Apply now</a>
                                <a href="{{ path('front_program_courses_details',{'id':school.id}) }}" class="button btn-medium dark-blue1 full-width" style="margin-bottom: 5px;">Return to school</a>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}