{% extends ":Front:base.html.twig" %}
{% block title %}Program courses{% endblock %}
{% block body %}
    <div class="page-title-container">
        <div class="container">
            <div class="page-title pull-left">
                <h2 class="entry-title">Pathway programs courses</h2>
            </div>
        </div>
    </div>
    <section id="content">
        <div class="container">
            <div id="main">
                <div class="row">
                    {% include 'FrontGeneralBundle:ProgramCourses:filtre.html.twig' %}
                    <div class="col-sm-8 col-md-9">
                        {% include 'FrontGeneralBundle:ProgramCourses:sort.html.twig' %}
                        <div class="hotel-list listing-style3 hotel">
                            {% for school in schools %}
                                {% set stars= (school.stars/5) *100 %}
                                <article class="box">
                                    <figure class="col-sm-5 col-md-4">
                                        <img style="width: 270px;height: 160px" alt="" src="{{ school.image.getAssetPath | imagine_filter('list') }}">
                                    </figure>
                                    <div class="details col-sm-7 col-md-8">
                                        <div>
                                            <div>
                                                <h4 class="box-title">{{ school.school|title }}
                                                    <small style="color:red">
                                                        {{ school|title }} 
                                                        <div class="five-stars-container">
                                                            <span class="five-stars" style="width: {{ stars }}%;"></span>
                                                        </div>
                                                    </small>
                                                    <small>
                                                        <i class="soap-icon-departure yellow-color"></i>
                                                        {{ school.city.country.code|upper }}, {{ school.city }}
                                                    </small>
                                                </h4>
                                            </div>
                                            <div>
                                                <p>Excellent ! {{ school.note }}/5</p>
                                                <span class="review">{{ school.reviews }} reviews</span>
                                            </div>
                                        </div>
                                        <div>
                                            <p>
                                                {% if  school.shortDescription|length >200 %}
                                                    {{ school.shortDescription|slice(0, 200) }} ...
                                                {% else %}
                                                    {{ school.shortDescription }}
                                                {% endif %}
                                            </p>
                                            <div>
                                                <span class="price">
                                                    <small>AVG/WEEK</small>
                                                    <p class="prix">{{ school.avgPrice ~' '~ school.currency.code }} </p>
                                                    {% if app.session.get('currency').code!=school.currency.code %}<span class="currency">{{ convertCurrency(school.avgPrice,school.currency.code) }}</span>{% endif %}
                                                </span>
                                                <a class="button btn-small full-width text-center" title="" href="{{ path('front_program_courses_details',{'id':school.id}) }}">SELECT</a>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            {% endfor %}
                        </div>
                        <div class="navigation">
                            {{ knp_pagination_render(schools) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% if city!='all' %}
        <script type='text/javascript' src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
        <script type="text/javascript" src="{{ asset('front-assets/js/gmap3.min.js')}}"></script>
        <script type="text/javascript">
            tjq(".travelo-google-map").gmap3({
                map: {
                    options: {
                        center: [{{ getGeoLocationCity(city) }}],
                        zoom: 9
                    }
                },
                marker: {
                    values: [
                        {latLng: [{{ getGeoLocationCity(city) }}], data: "{{ getNameCity(city) }}"}

                    ],
                    options: {
                        draggable: false
                    },
                }
            });
        </script>
    {% endif %}
    <script>
        tjq(document).ready(function () {
            tjq('#CountrySelect1').on('change', function () {
                var city = tjq('#CitySelect1');
                city.empty();
                city.append('<option value="">Loading ...</option>');
                updateTraveloElementUI(city);
                var id = tjq(this).val();
                tjq.ajax({
                    url: '{{ path('ajax_country_to_city') }}',
                    data: {'id': id},
                    type: 'POST',
                    dataType: 'json',
                    success: function (json) {
                        city.empty();
                        tjq.each(json, function (index, value) {
                            city.append('<option value="' + index + '">' + value + '</option>');
                            updateTraveloElementUI(city);
                        });
                    }
                });
            })
        })
    </script>
{% endblock %}