{% extends ":Front:base.html.twig" %}
{% block title %}{{ school|title }}{% endblock %}
{% block body %}
    {% set stars= (school.stars/5) *100 %}
    <div class="page-title-container">
        <div class="container">
            <div class="page-title pull-left">
                <h2 class="entry-title">{{ school|title }}</h2>
            </div>
        </div>
    </div>
    <section id="content">
        <div class="container">
            <div class="row">
                <div id="main" class="col-md-9">
                    {% if school.photos|length!=0 %}
                        <div class="tab-container style1" id="hotel-main-content">
                            <div class="tab-content">
                                <div id="photos-tab" class="tab-pane fade in active">
                                    <div class="photo-gallery style1" data-animation="slide" data-sync="#photos-tab .image-carousel">
                                        <ul class="slides">
                                            {% for photo in school.photos %}
                                                <li>
                                                    <img src="{{ photo.getAssetPath | imagine_filter('album_front') }}"  style="width: 900px;height: 500px" />
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="image-carousel style1" data-animation="slide" data-item-width="70" data-item-margin="10" data-sync="#photos-tab .photo-gallery">
                                        <ul class="slides">
                                            {% for photo in school.photos %}
                                                <li>
                                                    <img src="{{ photo.getAssetPath | imagine_filter('minature_front') }}" alt="" />
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div id="hotel-features" class="tab-container">
                        {% include ':Front:notification.html.twig' %}
                        <ul class="tabs">
                            <li class="active"><a href="#School-description" data-toggle="tab">Description</a></li>
                                {% if school.courses|length!=0 %}
                                <li><a href="#School-Courses" data-toggle="tab">Courses</a></li>
                                {% endif %}
                                {% if school.accommodations|length!=0 %}
                                <li><a href="#School-accommodation" data-toggle="tab">Accommodations</a></li>
                                {% endif %}
                                {% if school.extras|length!=0 %}
                                <li><a href="#School-extras" data-toggle="tab">Extras</a></li>
                                {% endif %}
                                {% if reviews|length>0 %}
                                <li><a href="#hotel-reviews" data-toggle="tab">Reviews</a></li>
                                {% endif %}
                            <li><a href="#hotel-write-review" data-toggle="tab">Write a review</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="School-description">
                                <div class="long-description">
                                    <div class="clearfix">
                                        <img width="114" height="85" src="{{ school.image.getAssetPath | imagine_filter('minature_details') }}" alt="">
                                        <h2 class="name">{{ school|title }}</h2>
                                    </div>
                                    {{ school.longDescription|raw }}
                                </div>
                                <hr>
                                <div class="long-description">
                                    <div class="clearfix">
                                        <img src="{{ school.school.image.getAssetPath | imagine_filter('minature_details') }}" alt="" width="74" height="74" />
                                        <h2 class="name">{{ school.school }}</h2>
                                    </div>
                                    <p class="description">
                                        {{ school.school.description }}
                                    </p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="School-Courses">
                                <h2>Available languages courses</h2>
                                <div class="toggle-container" id="CoursePathway">
                                    {% for course in school.courses %}
                                        <div class="panel style1">
                                            <h2 class="panel-title">
                                                <a class="collapsed"   data-parent="#CoursePathway" href="#course{{ loop.index }}" data-toggle="collapse">{{ course.name|title }}</a>
                                            </h2>
                                            <div class="panel-collapse collapse" id="course{{ loop.index }}">
                                                <div class="panel-content">
                                                    <p>{{ course.description }}</p>
                                                    <div class="panel-content">
                                                        {#<dl class="term-description">#}
                                                            {#<dt>Name:</dt><dd>{{ course.name|title }}</dd>#}
                                                            {#<dt>Subject:</dt><dd>{{ course.subject|title }}</dd>#}
                                                            {#<dt>Pathway program:</dt><dd>{{ course.program |title}}</dd>#}
                                                            {#<dt>Language :</dt><dd>{{ course.language|title }}</dd>#}
                                                        {#</dl>#}
                                                        <div class="right" style="  float: right;">
                                                            <a href="{{ path('front_program_courses_course',{'id':course.id}) }}" class="button btn-medium  dull-blue">View Courses</a>
                                                            <a href="{{ path('front_program_pathway_step1',{'course':course.id}) }}" class="button btn-medium red">Apply now</a>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="tab-pane fade" id="School-accommodation">
                                <h2>Available Accommodations</h2>
                                <div class="toggle-container" id="accopathway">
                                    {% for accommodation in school.accommodations %}
                                        <div class="panel style1">
                                            <h2 class="panel-title">
                                                <a class="collapsed" data-parent="#accopathway" href="#accommodation{{ loop.index }}" data-toggle="collapse">{{ accommodation|title }}</a>
                                            </h2>
                                            <div class="panel-collapse collapse" id="accommodation{{ loop.index }}">
                                                <div class="panel-content">
                                                    <p>{{ accommodation.description }}</p>
                                                    <dl class="term-description">
                                                        <dt>Name:</dt><dd>{{ accommodation|title }}</dd>
                                                        <dt>Type :</dt><dd>{{ accommodation.typeAccommodation|title }}</dd>
                                                        <dt>Rooms :</dt>
                                                        <dd>
                                                            <ul class="circle box">
                                                                {% for room in accommodation.rooms %}
                                                                    <li>
                                                                        <strong>{{ room|title }} :</strong>
                                                                        <p>{{ room.description }}</p>
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="tab-pane fade" id="School-extras">
                                <h2>Available Extras</h2>
                                <div class="toggle-container" id="extrapathway">
                                    {% for extra in school.extras %}
                                        <div class="panel style1">
                                            <h2 class="panel-title">
                                                <a class="collapsed"  data-parent="#extrapathway" href="#extra{{ loop.index }}" data-toggle="collapse">{{ extra }}</a>
                                            </h2>
                                            <div class="panel-collapse collapse" id="extra{{ loop.index }}">
                                                <div class="panel-content">
                                                    <dl class="term-description">
                                                        <dt>Name:</dt><dd>{{ extra }}</dd>
                                                        {% if extra.startDate is not null %}
                                                            <dt>Dates :</dt><dd>{{ extra.startDate|date('d F Y')~' to '~extra.endDate|date('d F Y') }}</dd>
                                                        {% endif %}
                                                        <dt>Obligatory :</dt><dd>{% if extra.getObligatory %}Yes{% else %}No{% endif %}</dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% if reviews|length>0 %}
                                <div class="tab-pane fade" id="hotel-reviews">
                                    <div class="intro table-wrapper full-width hidden-table-sms">
                                        <div class="rating table-cell col-sm-4">
                                            <span class="score">{{ school.note }}/5</span>
                                            <div class="five-stars-container"><div class="five-stars" style="width: {{ stars }}%;"></div></div>
                                        </div>
                                    </div>
                                    <div class="guest-reviews">
                                        <h2>Guest Reviews</h2>
                                        {% for review in reviews %}
                                            <div class="guest-review table-wrapper">
                                                <div class="col-xs-3 col-md-2 author table-cell">
                                                    <a href="#"><img src="http://movingmountains.biz//wp-content/uploads/2012/02/Person-Avatar.png" alt="" width="270" height="263" /></a>
                                                    <p class="name">{{ review.name }}</p>
                                                    <p class="date">{{ review.reviewDate|date('d F Y') }}</p>
                                                </div>
                                                <div class="col-xs-9 col-md-10 table-cell comment-container">
                                                    <div class="comment-header clearfix">
                                                        <h4 class="comment-title">{{ review.title }}</h4>
                                                        <div class="review-score">
                                                            <div class="five-stars-container"><div class="five-stars" style="width: {{ review.note/5*100 }}%;"></div></div>
                                                            <span class="score">{{ review.note }}/5</span>
                                                        </div>
                                                    </div>
                                                    <div class="comment-content">
                                                        <p style="min-width: 660px;">{{ review.text }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                            <div class="tab-pane fade" id="hotel-write-review">
                                {{ form_start(form) }}
                                <div class="form-group row">
                                    {{ formulaire.input("col-md-4","Name",form.name,true) }}
                                </div> 
                                <div class="form-group row">
                                    {{ formulaire.input("col-md-4","Title of your review",form.title,true) }}
                                </div> 
                                <div class="form-group row">
                                    {{ formulaire.input("col-md-8","Your review",form.text,true) }}
                                </div> 
                                <div class="form-group row">
                                    {{ formulaire.input("col-md-8","note",form.note,true) }}
                                </div> 
                                <div class="form-group col-md-5 no-float no-padding no-margin">
                                    <button type="submit" class="btn-large full-width">SUBMIT REVIEW</button>
                                </div>
                                {{ form_end(form) }}
                            </div>
                        </div>

                    </div>
                </div>
                <div class="sidebar col-md-3">
                    <article class="detailed-logo" id="hotel-reviews">
                        <figure>
                            <img width="114" height="85" src="{{ school.image.getAssetPath | imagine_filter('minature_details') }}" alt="">
                        </figure>
                        <div class="details">
                            <h2 class="box-title">{{ school|title }}<small><i class="soap-icon-departure yellow-color"></i><span class="fourty-space">{{ school.city.country|upper }}, {{ school.city }}</span></small></h2>
                            <span class="price clearfix">
                                <small class="pull-left">AVG/WEEK</small>
                                <p class="prix">{{ school.avgPrice ~' '~ school.currency.code }} </p>
                                {% if app.session.get('currency').code!=school.currency.code %}<span class="currency">{{ convertCurrency(school.avgPrice,school.currency.code) }}</span>{% endif %}
                            </span>
                            <p class="description">{{ school.shortDescription }}</p>
                            <div class="intro table-wrapper full-width hidden-table-sms">
                                <div class="rating table-cell col-sm-12">
                                    <span class="score counters-box numbers" style="text-align: center;">
                                        {{ school.note }}/5
                                    </span>
                                    <p>{{ school.reviews }} reviews</p>
                                    <div class="five-stars-container"><div class="five-stars" style="width: {{ stars }}%;"></div></div>
                                </div>
                            </div>
                            {% if school.courses|length!=0 and false %}
                                <a class="button yellow full-width uppercase btn-small" href="{{ path('book_school_redirect',{'id':school.id}) }}">Get a quote & Book</a>
                            {% endif %}
                        </div>
                    </article>
                    {% if schools|length>1 %}
                        <div class="travelo-box">
                            <h4>Other schools in {{ school.city }}</h4>
                            <div class="image-box style14">
                                {% for sch in schools if sch.id!=school.id %}
                                    <article class="box">
                                        <figure>
                                            <a href="{{ path('front_language_courses_details',{'id':sch.id}) }}"><img src="{{ sch.image.getAssetPath | imagine_filter('small') }}" /></a>
                                        </figure>
                                        <div class="details">
                                            <h5 class="box-title"><a href="{{ path('front_language_courses_details',{'id':sch.id}) }}">{{ sch|title }}</a></h5>
                                            <label class="price-wrapper">
						<span  style="white-space: nowrap;" class="price-per-unit">
						    {{ sch.avgPrice}} {{sch.currency.code }}
						</span>AVG/WEEK
						{% if app.session.get('currency').code!=sch.currency.code %}
						    <span class="currency">
							{{ convertCurrency(sch.avgPrice,sch.currency.code) }}
						    </span>
						{% endif %}
                                            </label>
                                        </div>
                                    </article>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}