{% macro input(class,label,from,required) %}
    <div class="{{class}}">
        <div class="form-group">
            <label class="control-label">
                {{label}} {% if required==true %}<span class="symbol required"></span>{% endif %}
            </label>
            {{ form_widget(from) | raw  }}
            {{ form_errors(from) | raw  }}
        </div>
    </div>
{% endmacro %}
{% macro select2(class,label,from,required) %}
    <div class="{{class}}">
        <div class="form-group">
            <label class="control-label">
                {{label}} {% if required==true %}<span class="symbol required"></span>{% endif %}
            </label>
            {{ form_widget(from,{'attr':{'class':'js-example-basic-single js-states form-control">'}}) | raw  }}
            {{ form_errors(from) | raw  }}
        </div>
    </div>
{% endmacro %}