<nav>
    <div class="navbar-title">
        <span>Main Navigation</span>
    </div>
    <ul class="main-navigation-menu">
        <li {% if app.request.get('_route')=='dashboard' %}class="active"{% endif %}>
            <a href="{{ path('dashboard') }}">
                <div class="item-content">
                    <div class="item-media">
                        <i class="ti-dashboard"></i>
                    </div>
                    <div class="item-inner">
                        <span class="title"> Dashboard </span>
                    </div>
                </div>
            </a>
        </li>
        {% if is_granted('ROLE_ADMIN_FRONTOFFICE')  %}
            <li {% if app.request.getPathInfo|split('admin/frontoffice')|length > 1 %}class="active open" {% endif %}>
                <a href="javascript:void(0)">
                    <div class="item-content">
                        <div class="item-media">
                            <i class="ti-fullscreen"></i>
                        </div>
                        <div class="item-inner">
                            <span class="title"> Front Office </span><i class="icon-arrow"></i>
                        </div>
                    </div>
                </a>
                <ul class="sub-menu">
                    <li {% if app.request.get('_route')=='backoffice_homepage' %}class="active"{% endif %}>
                        <a href="{{ path('backoffice_homepage') }}">
                            <span class="title">Homepage</span>
                        </a>
                    </li>
                    <li {% if app.request.get('_route')=='backoffice_testimonial' %}class="active"{% endif %}>
                        <a href="{{ path('backoffice_testimonial') }}">
                            <span class="title">Testimonial</span>
                        </a>
                    </li>
                    <li {% if app.request.get('_route')=='backoffice_contact' %}class="active"{% endif %}>
                        <a href="{{ path('backoffice_contact') }}">
                            <span class="title">Page Contact</span>
                        </a>
                    </li>
                    <li {% if app.request.get('_route')=='backoffice_slider' %}class="active"{% endif %}>
                        <a href="{{ path('backoffice_slider') }}">
                            <span class="title">Slider</span>
                        </a>
                    </li>
                </ul>
            </li>
        {% endif %}
        {% if is_granted('ROLE_ADMIN_UNIVERSITY') %}
            <li {% if app.request.getPathInfo|split('admin/university')|length > 1 %}class="active open" {% endif %}>
                <a href="javascript:void(0)">
                    <div class="item-content">
                        <div class="item-media">
                            <i class="ti-pencil-alt2"></i>
                        </div>
                        <div class="item-inner">
                            <span class="title"> Universities </span><i class="icon-arrow"></i>
                        </div>
                    </div>
                </a>
                <ul class="sub-menu">
                    <li {% if app.request.get('_route')=='list_university' %}class="active"{% endif %}>
                        <a href="{{ path('list_university') }}">
                            <span class="title">List</span>
                        </a>
                    </li>
                    <li {% if app.request.get('_route')=='add_university' %}class="active"{% endif %}>
                        <a href="{{ path('add_university') }}">
                            <span class="title">New university</span>
                        </a>
                    </li>
                </ul>
            </li>
        {% endif %}
        {% if is_granted('ROLE_ADMIN_ACCOMMODATION') %}
            <li {% if app.request.getPathInfo|split('admin/accommodation')|length > 1 %}class="active open" {% endif %}>
                <a href="javascript:void(0)">
                    <div class="item-content">
                        <div class="item-media">
                            <i class="fa fa-hotel"></i>
                        </div>
                        <div class="item-inner">
                            <span class="title"> Accommodations </span><i class="icon-arrow"></i>
                        </div>
                    </div>
                </a>
                <ul class="sub-menu">
                    <li {% if app.request.get('_route')=='list_accommodation' %}class="active"{% endif %}>
                        <a href="{{ path('list_accommodation') }}">
                            <span class="title">List</span>
                        </a>
                    </li>
                    <li {% if app.request.get('_route')=='add_accommodation' %}class="active"{% endif %}>
                        <a href="{{ path('add_accommodation') }}">
                            <span class="title">New accommodation</span>
                        </a>
                    </li>
                </ul>
            </li>
        {% endif %}
        {% if is_granted('ROLE_ADMIN_SCHOOL') %}
            <li {% if app.request.getPathInfo|split('admin/school')|length > 1 %}class="active open" {% endif %}>
                <a href="javascript:void(0)">
                    <div class="item-content">
                        <div class="item-media">
                            <i class="ti-home"></i>
                        </div>
                        <div class="item-inner">
                            <span class="title"> Schools Location </span><i class="icon-arrow"></i>
                        </div>
                    </div>
                </a>
                <ul class="sub-menu">
                    <li {% if app.request.get('_route')=='list_schoolLanguage' %}class="active"{% endif %}>
                        <a href="{{ path('list_schoolLanguage') }}">
                            <span class="title">Language schools</span>
                        </a>
                    </li>
                    <li {% if app.request.get('_route')=='list_schoolPathway' %}class="active"{% endif %}>
                        <a href="{{ path('list_schoolPathway') }}">
                            <span class="title">Pathway Schools</span>
                        </a>
                    </li>
                    <li {% if app.request.get('_route')=='add_school' %}class="active"{% endif %}>
                        <a href="{{ path('add_school') }}">
                            <span class="title">New School Location</span>
                        </a>
                    </li>
                </ul>
            </li>
        {% endif %}
        {% if is_granted('ROLE_ADMIN_CONFIG') %}
            <li {% if app.request.getPathInfo|split('/ref')|length > 1 %}class="active open" {% endif %}>
                <a href="javascript:void(0)">
                    <div class="item-content">
                        <div class="item-media">
                            <i class="ti-settings"></i>
                        </div>
                        <div class="item-inner">
                            <span class="title"> Configuration </span><i class="icon-arrow"></i>
                        </div>
                    </div>
                </a>
                <ul class="sub-menu">
                    <li {% if app.request.get('_route')=='subjectschool' %}class="active"{% endif %}>
                        <a href="{{ path('subjectschool') }}">
                            <span class="title">Subject pathway</span>
                        </a>
                    </li>
                    <li {% if app.request.get('_route')=='subject' %}class="active"{% endif %}>
                        <a href="{{ path('subject') }}">
                            <span class="title">Subject university</span>
                        </a>
                    </li>
                    <li {% if app.request.get('_route')=='qualification' %}class="active"{% endif %}>
                        <a href="{{ path('qualification') }}">
                            <span class="title">Qualification</span>
                        </a>
                    </li>
                    <li {% if app.request.get('_route')=='studyMode' %}class="active"{% endif %}>
                        <a href="{{ path('studyMode') }}">
                            <span class="title">Study Mode</span>
                        </a>
                    </li>
                    <li {% if app.request.get('_route')=='level' %}class="active"{% endif %}>
                        <a href="{{ path('level') }}">
                            <span class="title">Level of study</span>
                        </a>
                    </li>


                    <li {% if app.request.get('_route')=='currency' %}class="active"{% endif %}>
                        <a href="{{ path('currency') }}">
                            <span class="title">Currencies</span>
                        </a>
                    </li>
                    <li {% if app.request.get('_route')=='language' %}class="active"{% endif %}>
                        <a href="{{ path('language') }}">
                            <span class="title">Languages courses</span>
                        </a>
                    </li>
                    <li {% if app.request.get('_route')=='program' %}class="active"{% endif %}>
                        <a href="{{ path('program') }}">
                            <span class="title">Patgways programs</span>
                        </a>
                    </li>
                    <li {% if app.request.get('_route')=='type_accommodation' %}class="active"{% endif %}>
                        <a href="{{ path('type_accommodation') }}">
                            <span class="title">Types of accommodation</span>
                        </a>
                    </li>
                    <li {% if app.request.get('_route')=='country' %}class="active"{% endif %}>
                        <a href="{{ path('country') }}">
                            <span class="title">Countries</span>
                        </a>
                    </li>
                    <li {% if app.request.get('_route')=='city' %}class="active"{% endif %}>
                        <a href="{{ path('city') }}">
                            <span class="title">Cities</span>
                        </a>
                    </li>
                    <li {% if app.request.get('_route')=='school' %}class="active"{% endif %}>
                        <a href="{{ path('school') }}">
                            <span class="title">Schools</span>
                        </a>
                    </li>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <li {% if app.request.get('_route')=='paypal' %}class="active"{% endif %}>
                            <a href="{{ path('paypal') }}">
                                <span class="title">Paypal</span>
                            </a>
                        </li>
                        <li {% if app.request.get('_route')=='administrator' %}class="active"{% endif %}>
                            <a href="{{ path('administrator') }}">
                                <span class="title">Administrators</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </li>
        {% endif %}
    </ul>
</nav>