{% extends ":Front:base.html.twig" %}
{% block title %}Step 2{% endblock %}
{% block body %}
    <div class="page-title-container">
        <div class="container">
            <div class="page-title pull-left">
                <h2 class="entry-title">Step 2</h2>
            </div>
        </div>
    </div>
    <section id="content" class="gray-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="tab-container style1">
                        <ul class="tabs full-width">
                            <li><a href="{{ path('front_program_pathway_step1') }}">Step 1</a></li>
                            <li class="active"><a href="javascript:void(0)" data-toggle="tab">Step 2</a></li>
                            <li><p class="StepBlock">Step 3</p></li>
                            <li><p class="StepBlock">Step 4</p></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in active">
                                {{ form_start(form) }}
                                <div class="person-information">
                                    <h2>Academic information</h2>

                                    <div class="form-group row">
                                        <h4>University or College</h4>
                                        {{ formulaire.input("col-md-12","Do you have a university or college degree?* ",form.universityDegree,true) }}
                                    </div>
                                    <div class="form-group row {% if form.universityDegree.vars.data  in ['No',null] %} no-display{% endif %}" id="blockYesNo">
                                        {{ formulaire.input("col-md-3","Last qualification awarded",form.lastQualification,true) }}
                                        {{ formulaire.input("col-md-3","Graduation year",form.graduationYear,true) }}
                                        {{ formulaire.input("col-md-3","School or institution name",form.schoolName,true) }}
                                        {{ formulaire.input("col-md-3","Country",form.country,true) }}
                                    </div>
                                    <div class="form-group row">
                                        <h4>Secondary school</h4>
                                        {{ formulaire.input("col-md-12","Do you have a Secondary school degree?* ",form.schoolDegree,true) }}
                                    </div>
                                    <div class="form-group row {% if form.schoolDegree.vars.data  in ['No',null] %} no-display{% endif %}" id="blockYesNo2">
                                        {{ formulaire.input("col-md-3","Last qualification awarded",form.lastQualificationS2,true) }}
                                        {{ formulaire.input("col-md-3","Graduation year",form.graduationYearS2,true) }}
                                        {{ formulaire.input("col-md-3","School or institution name",form.schoolNameS2,true) }}
                                        {{ formulaire.input("col-md-3","Country",form.countryS2,true) }}
                                    </div>
                                    <div class="form-group row">
                                        <h4>English proficiency</h4>
                                        {{ formulaire.input("col-md-12","Have you taken a recognised English Language TEST?* ",form.englishTest,true) }}
                                    </div>
                                    <div class="form-group row {% if form.englishTest.vars.data is  null %} no-display{% endif %}" id="blockTest">
                                        {{ formulaire.input("col-md-12","Please enter details of your most recent englist language test",form.test,false) }}
                                        {{ formulaire.input("col-md-3 no-display testName","Test Name ",form.nameTest,false) }}
                                        {{ formulaire.input("col-md-3","Score",form.score,false) }}
                                        {{ formulaire.input("col-md-3","Test Date",form.testDate,false) }}
                                    </div>
                                </div>
                                <hr>
                                <div class="form-group row">
                                    <div class="col-sm-6 col-md-5">
                                        <button type="submit" class="full-width btn-large">Step 3</button>
                                    </div>
                                </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div></div>
    </section>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .StepBlock {
            height: 30px;
            line-height: 30px;
            background: #f5f5f5;
            padding: 0 18px;
            color: #9e9e9e;
            font-size: 0.9167em;
            font-weight: bold;
            text-align: center;
            margin: 0px;
            text-transform: uppercase;
        }
    </style>
{% endblock %}
{% block jquery %}
    <script>
        tjq(document).ready(function () {
            tjq("#front_generalbundle_formstep2_test_2").change(function () {
                tjq('.testName').removeClass('no-display');
            })
            tjq("#front_generalbundle_formstep2_test_0 , #front_generalbundle_formstep2_test_1").change(function () {
                if (!tjq('.testName').hasClass('no-display'))
                    tjq('.testName').addClass('no-display');
            })
//            tjq("#front_generalbundle_formstep2_englishTest_1").change(function () {
//                if (!tjq('#blockTest').hasClass('no-display'))
//                    tjq('#blockTest').addClass('no-display');
//            })
            tjq("#front_generalbundle_formstep2_englishTest_0,#front_generalbundle_formstep2_englishTest_1").change(function () {
                if (tjq('#blockTest').hasClass('no-display'))
                    tjq('#blockTest').removeClass('no-display');
            })
            tjq("#front_generalbundle_formstep2_universityDegree_0").change(function () {
                if (tjq('#blockYesNo').hasClass('no-display'))
                    tjq('#blockYesNo').removeClass('no-display');
                tjq('#front_generalbundle_formstep2_lastQualification').parent().find("label").html('Last qualification awarded');
                tjq('#front_generalbundle_formstep2_graduationYear').parent().find("label").html('GRADUATION YEAR');
                tjq('#front_generalbundle_formstep2_lastQualification').prop('required', true);
                tjq('#front_generalbundle_formstep2_graduationYear').prop('required', true);
                tjq('#front_generalbundle_formstep2_schoolName').prop('required', true);
                tjq('#front_generalbundle_formstep2_country').prop('required', true);
            })
            tjq("#front_generalbundle_formstep2_universityDegree_1").change(function () {
                if (!tjq('#blockYesNo').hasClass('no-display'))
                    tjq('#blockYesNo').addClass('no-display');
                tjq('#front_generalbundle_formstep2_lastQualification').prop('required', false);
                tjq('#front_generalbundle_formstep2_graduationYear').prop('required', false);
                tjq('#front_generalbundle_formstep2_schoolName').prop('required', false);
                tjq('#front_generalbundle_formstep2_country').prop('required', false);
            })
            tjq("#front_generalbundle_formstep2_universityDegree_2").change(function () {
                if (tjq('#blockYesNo').hasClass('no-display'))
                    tjq('#blockYesNo').removeClass('no-display');
                tjq('#front_generalbundle_formstep2_lastQualification').parent().find("label").html('CURRENT YEAR OF STUDY');
                tjq('#front_generalbundle_formstep2_graduationYear').parent().find("label").html('EXPECTED GRADUATION YEAR');
                tjq('#front_generalbundle_formstep2_lastQualification').prop('required', true);
                tjq('#front_generalbundle_formstep2_graduationYear').prop('required', true);
                tjq('#front_generalbundle_formstep2_schoolName').prop('required', true);
                tjq('#front_generalbundle_formstep2_country').prop('required', true);
            })

            tjq("#front_generalbundle_formstep2_schoolDegree_0").change(function () {
                if (tjq('#blockYesNo2').hasClass('no-display'))
                    tjq('#blockYesNo2').removeClass('no-display');
                tjq('#front_generalbundle_formstep2_lastQualificationS2').parent().find("label").html('Last qualification awarded');
                tjq('#front_generalbundle_formstep2_graduationYearS2').parent().find("label").html('GRADUATION YEAR');
                tjq('#front_generalbundle_formstep2_lastQualificationS2').prop('required', true);
                tjq('#front_generalbundle_formstep2_graduationYearS2').prop('required', true);
                tjq('#front_generalbundle_formstep2_schoolNameS2').prop('required', true);
                tjq('#front_generalbundle_formstep2_countryS2').prop('required', true);
            })
            tjq("#front_generalbundle_formstep2_schoolDegree_1").change(function () {
                if (!tjq('#blockYesNo2').hasClass('no-display'))
                    tjq('#blockYesNo2').addClass('no-display');
                tjq('#front_generalbundle_formstep2_lastQualificationS2').prop('required', false);
                tjq('#front_generalbundle_formstep2_graduationYearS2').prop('required', false);
                tjq('#front_generalbundle_formstep2_schoolNameS2').prop('required', false);
                tjq('#front_generalbundle_formstep2_countryS2').prop('required', false);
            })
            tjq("#front_generalbundle_formstep2_schoolDegree_2").change(function () {
                if (tjq('#blockYesNo2').hasClass('no-display'))
                    tjq('#blockYesNo2').removeClass('no-display');
                tjq('#front_generalbundle_formstep2_lastQualificationS2').parent().find("label").html('CURRENT YEAR OF STUDY');
                tjq('#front_generalbundle_formstep2_graduationYearS2').parent().find("label").html('EXPECTED GRADUATION YEAR');
                tjq('#front_generalbundle_formstep2_lastQualificationS2').prop('required', true);
                tjq('#front_generalbundle_formstep2_graduationYearS2').prop('required', true);
                tjq('#front_generalbundle_formstep2_schoolNameS2').prop('required', true);
                tjq('#front_generalbundle_formstep2_countryS2').prop('required', true);
            })
        })
    </script>
{% endblock %}