{% extends ":Front:base.html.twig" %}
{% block title %}Step 4{% endblock %}
{% block body %}
    <div class="page-title-container">
        <div class="container">
            <div class="page-title pull-left">
                <h2 class="entry-title">Step 4</h2>
            </div>
        </div>
    </div>
    <section id="content" class="gray-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="tab-container style1">
                        <ul class="tabs full-width">
                            <li><a href="{{ path('front_program_pathway_step1') }}">Step 1</a></li>
                            <li><a href="{{ path('front_program_pathway_step2') }}">Step 2</a></li>
                            <li><a href="{{ path('front_program_pathway_step3') }}">Step 3</a></li>
                            <li class="active"><a href="javascript:void(0)" data-toggle="tab">Step 4</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in active">
                                {{ form_start(form) }}
                                {{ form_errors(form) }}
                                <div class="person-information">
                                    <h2>Special needs</h2>

                                    <p>If you have any special needs or disabilities that might affect your mobility or studies, please tell us about them here. This will help us plan the best study environment / support for you.</p>

                                    <div class="form-group row">
                                        {{ formulaire.input("col-md-12","Do you have any special needs?* ",form.specialNeeds,true) }}
                                    </div>
                                    <div class="form-group row">
                                        {{ formulaire.input("col-md-12","Questions and comments",form.comments,false) }}
                                    </div>
                                </div>
                                <div class="person-information">
                                    <h2>Terms &amp; Conditions</h2>

                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="control-label"> Accuracy declaration
                                                    <span class="symbol required"></span> </label>

                                                <div class="checkbox">
                                                    <label class="required">
                                                        <input type="checkbox"  required="required" value="1"> I declare that the information I have supplied on and with this form is complete and correct. I declare that I am over 18 or can provide proof of parental consent
                                                    </label>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="control-label"> Terms and Conditions
                                                    <span class="symbol required"></span> </label>

                                                <div class="checkbox">
                                                    <label class="required">
                                                        <input type="checkbox"  required="required" value="1"> I have read and accept <a href="javascript:void(0)" style="color: blueviolet;">the terms and conditions</a> below.
                                                    </label>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <hr>
                                <div class="form-group row">
                                    <div class="col-sm-6 col-md-5">
                                        <button type="submit" class="full-width btn-large">Submit</button>
                                    </div>
                                </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div></div>
    </section>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .StepBlock {
            height: 30px;
            line-height: 30px;
            background: #f5f5f5;
            padding: 0 18px;
            color: #9e9e9e;
            font-size: 0.9167em;
            font-weight: bold;
            text-align: center;
            margin: 0px;
            text-transform: uppercase;
        }
    </style>
{% endblock %}