{% extends ":Back:base.html.twig" %}
{% block title %}{{ school.name }}{% endblock %}
{% block description %}Accommodations{% endblock %}
{% block body %}
    <div class="tabbable">
        {% include 'BackSchoolBundle:school:menu.html.twig' %}
        {% include 'BackSchoolBundle:accommodations:menu.html.twig' %}
        <div class="tab-content">
            <div class="container-fluid container-fullw bg-white">
                <div class="row">
                    <div class="col-md-12">
                        <form action="{{ path('edit_accommodations',{'id':school.id,'accommodation':accommodation.id}) }}" {{ form_enctype(form) }}  method="post" role="form" id="form">
                            {{ form_widget(form._token) }}
                            <div class="row">
                                {{ formulaire.input("col-md-2","Name",form.name,true) }}
                                {{ formulaire.input("col-md-2","Type",form.typeAccommodation,true) }}
                                {{ formulaire.input("col-md-4","Description",form.description,true) }}
                            </div>
                            {{ macro.enregistrer }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}