{% extends ":Back:base.html.twig" %}
{% block title %}{{ school.name }}{% endblock %}
{% block body %}
    <div class="tabbable">
        {% include 'BackSchoolBundle:school:menu.html.twig' %}
        <div class="tab-content">
            <div class="container-fluid container-fullw bg-white">
                <div class="row">
                    <div class="col-md-12">
                        <form action="{{ path('list_accommodations',{'id':school.id}) }}" {{ form_enctype(form) }}  method="post" role="form" id="form">
                            {{ form_widget(form._token) }}
                            <div class="row">
                                {{ formulaire.input("col-md-2","Name",form.name,true) }}
                                {{ formulaire.input("col-md-4","Description",form.description,true) }}
                            </div>
                            {{ macro.enregistrer }}
                        </form>
                    </div>
                    <div class="col-md-12">
                        <h5 class="over-title margin-bottom-15">Accommodations <span class="text-bold">list</span></h5>
                        <table class="table table-hover" id="sample-table-1">
                            <thead>
                                <tr>
                                    <th class="center">Name</th>
                                    <th class="center">Description</th>
                                    <th class="center">Rooms</th>
                                    <th class="center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for accommodation in school.accommodations %}
                                    <tr>
                                        <td class="center">{{ accommodation.name }}</td>
                                        <td class="center">{{ accommodation.description }}</td>
                                        <td>
                                            {% for room in accommodation.rooms %}
                                                - {{ room.name }}<br>
                                            {% endfor %}
                                        </td>
                                        <td class="center">
                                            {{ macro.edit(path('edit_accommodations',{'id':school.id,'accommodation':accommodation.id})) }}
                                            {{ macro.delete(path('delete_accommodations',{'id':accommodation.id})) }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}