{% extends ":Front:base.html.twig" %}
{% block title %}Contact us{% endblock %}
{% block body %}
    <div class="page-title-container">
        <div class="container">
            <div class="page-title pull-left">
                <h2 class="entry-title">About Us</h2>
            </div>
        </div>
    </div>

    <section id="content">
	<div class="container">
	    <div id="main">
		<div class="large-block image-box style6">
		    <article class="box">
			<figure class="col-md-5">
			    <a href="#" title="" class="middle-block"><img class="middle-item" src="{{ asset(aboutUs.image1.getAssetPath) }}" alt="" width="476" height="318" /></a>
			</figure>
			<div class="details col-md-offset-5">
			    <h4 class="box-title">{{ aboutUs.title1 }}</h4>
			    <p>{{ aboutUs.text1 }}</p>
			</div>
		    </article>
		    <article class="box">
			<figure class="col-md-5 pull-right middle-block">
			    <a href="#" title=""><img class="middle-item" src="{{ asset(aboutUs.image2.getAssetPath) }}" alt="" width="476" height="318" /></a>
			</figure>
			<div class="details col-md-7">
			    <h4 class="box-title">{{ aboutUs.title2 }}</h4>
			    <p>{{ aboutUs.text2 }}</p>
			</div>
		    </article>
		    <article class="box">
			<figure class="col-md-5">
			    <a href="#" title="" class="middle-block"><img class="middle-item" src="{{ asset(aboutUs.image3.getAssetPath) }}" alt="" /></a>
			</figure>
			<div class="details col-md-offset-5">
			    <h4 class="box-title">{{ aboutUs.title3 }}</h4>
			    <p>{{ aboutUs.text3 }}</p>
			</div>
		    </article>
		</div>
	    </div>
	</div>
    </section>

{% endblock %}