{% extends ":Front:base.html.twig" %}
{% block body %}
    {% if false %}
        <section id="content" class="slideshow-bg">
            <div id="slideshow">
                <div class="flexslider ABCD" style=" ">
                    <div class="tagline visible-lg" id="tagline" style="position: absolute;z-index: 9;  background-color: rgba(255, 0, 0,0.4);  top: 400px;">
                        <span> It's time to</span>
                        <ul style="width: 250px;">
                            <li>live</li>
                            <li>have fun</li>
                            <li>relax</li>
                            <li>meet</li>
                            <li>being lost</li>
                            <li>run away</li>
                            <li>go</li>
                            <li>explore</li>
                            <li>find new friends</li>
                            <li class="active">discover</li>
                            <li>play</li>
                        </ul>
                    </div>
                    <ul class="slides">
                        {% for slider in sliders %}
                            <li>
                                <div class="slidebg" style="background-image: url('{{ slider.image.getAssetPath | imagine_filter('slider') }}');"></div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>
    {% else %}
        <section>
            <div class="tagline visible-lg" id="tagline" style="position: absolute;z-index: 9;  background-color: rgba(255, 0, 0,0.4);  top: 400px;">
                <span> It's time to</span>
                <ul style="width: 250px;">
                    <li>live</li>
                    <li>have fun</li>
                    <li>relax</li>
                    <li>meet</li>
                    <li>being lost</li>
                    <li>run away</li>
                    <li>go</li>
                    <li>explore</li>
                    <li>find new friends</li>
                    <li class="active">discover</li>
                    <li>play</li>
                </ul>
            </div>
            {% for slider in sliders %}
                <div class="parallax-container" data-parallax="scroll" data-bleed="10" data-image-src="{{ asset(slider.image.getAssetPath) }}" data-natural-width="1400" data-natural-height="900" style="height: 900px;"></div>
            {% endfor %}
        </section>
    {% endif %}
    <section id="content" class="gray-area" style="  min-height: inherit;">
        <div style="background: #97bd29;padding-top: inherit;  padding-bottom: 20px;"  class="global-map-area section parallax" data-stellar-background-ratio="0.5">
            {#            <div class="container">#}
            <div class="testimonial style3" style="border: none;text-align: inherit;margin-top: inherit;padding: 30px 0 0;">
                <ul class="slides ">
                    {% set num=80 %}
                    {% for testimonial in testimonials %}
                        <li>
                            {#                                <div class="author"><a href="#"><img src="{{ testimonial.image.getAssetPath | imagine_filter('testimonial') }}" alt="" width="74" height="74" /></a></div>#}
                            <div class="row">
                                <div class="col-md-6">
                                    <blockquote class="description">
                                        {% if  testimonial.description|length >num %}
                                            {{ testimonial.description|slice(0, num) }}...
                                        {% else %}
                                            {{ testimonial.description }}
                                        {% endif %}
                                    </blockquote>
                                </div>
                                <div class="col-md-2">
                                    <div class="author" style="  position: initial;margin-left: 0px;">
                                        <a href="#"><img src="{{ testimonial.image.getAssetPath | imagine_filter('testimonial') }}" alt="" width="74" height="74" /></a>
                                    </div>
                                </div>
                                <div class="col-md-4" style="padding-top: 27px;">
                                    <h1 style="color: white;">{{ testimonial.name }} - {{ testimonial.school }}</h1>
                                    <h1 style="color: white;">
                                        {% if testimonial.city.country is defined %}
                                            {{ testimonial.city }}, {{ testimonial.city.country|upper }}
                                        {% endif %}
                                    </h1>
                                </div>
                            </div>
                            {#<h2>{{ testimonial.name }} - {{ testimonial.school }}</h2>
                            <h2>
                                {% if testimonial.city.country is defined %}
                                    {{ testimonial.city }},{{ testimonial.city.country }}
                                {% endif %}
                            </h2>#}
                        </li>
                    {% endfor %}

                </ul>
            </div>
            {#            </div>#}
        </div>
    </section>
    <section id="content" class="BackgroundBlock">
        <div class="container" class="">
            <div class="row">
                <div id="main" class="col-sm-10 col-md-10" style="  padding-top: 110px;">
                    <div class="search-box-wrapper style1" style="margin-top: 30px;">
                        <div class="search-box">
                            <ul class="search-tabs clearfix" >
                                <li class="active"><a href="#hotels-tab" data-toggle="tab"><img class="PhotoRigth" src="{{ asset('front-assets/images/languagecourses.png') }}" />{{ homepage.title1 }}</a></li>
                                <li><a href="#flights-tab" data-toggle="tab"><img class="PhotoRigth" src="{{ asset('front-assets/images/pathway.png') }}" />{{ homepage.title2 }}</a></li>
                                <li><a href="#flight-and-hotel-tab" data-toggle="tab"><img class="PhotoRigth" src="{{ asset('front-assets/images/university.png') }}" />{{ homepage.title3 }}</a></li>
                                <li><a href="#cars-tab" data-toggle="tab"><img class="PhotoRigth"src="{{ asset('front-assets/images/accommodation.png') }}" />{{ homepage.title4 }}</a></li>
                            </ul>
                            <div class="visible-mobile">
                                <ul id="mobile-search-tabs" class="search-tabs clearfix">
                                    <li class="active"><a href="#hotels-tab">{{ homepage.title1 }}</a></li>
                                    <li><a href="#flights-tab">{{ homepage.title2 }}</a></li>
                                    <li><a href="#flight-and-hotel-tab">{{ homepage.title3 }}</a></li>
                                    <li><a href="#cars-tab">{{ homepage.title4 }}</a></li>
                                </ul>
                            </div>
                            <div class="search-tab-content" style="  opacity: 0.95;">
                                <div class="tab-pane fade  active in" id="hotels-tab">
                                    <form action="{{ path('front_language_courses_redirect') }}" method="post">
                                        <div class="title-container" style="  background: rgba(218,73,42,1);">
                                            <h2 class="search-title">{{ homepage.title1 }}</h2>
                                            <p>{{ homepage.description1 }}</p>
                                            <i class=""><img class="PhotoTop" src="{{ asset('front-assets/images/languagecourses.png') }}" /></i>
                                        </div>
                                        <div class="search-content">
                                            <h5 class="title"></h5>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <label>Select a language</label>
                                                    <div>
                                                        <select class="full-width" name="language">
                                                            <option value="">All languages</option>
                                                            {% for language in languages %}
                                                                <option value="{{ language.id }}">{{ language|title  }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <h5 class="title">Where</h5>
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <label>Country</label>
                                                    <div>
                                                        <select class="full-width" id="CountrySelect1" name="country">
                                                            <option value="">All countries</option>
                                                            {% for country in countries %}
                                                                <option value="{{ country.id }}">{{ country|title  }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <label>City</label>
                                                    <div>
                                                        <select class="full-width" id="CitySelect1" name="city">
                                                            <option value="">All cities</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <h5 class="title">Keyword</h5>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <input type="text" name="keyword" class="input-text full-width" placeholder="Search..." />
                                                </div>
                                            </div>
                                            <hr>
                                            <button style="background: #833685" type="submit" class="full-width uppercase">Proceed To Result</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane fade" id="flights-tab">
                                    <form action="{{ path('front_program_courses_redirect') }}" method="post">
                                        <div class="title-container">
                                            <h2 class="search-title">{{ homepage.title2 }}</h2>
                                            <p>{{ homepage.description2 }}</p>
                                            <i class=""><img class="" src="{{ asset('front-assets/images/pathway.png') }}" /></i>
                                        </div>
                                        <div class="search-content">
                                            <h5 class="title"></h5>
                                            <div class="row">
                                                <div class="col-xs-4">
                                                    <label>Select a Pathway programs</label>
                                                    <div>
                                                        <select class="full-width" name="program">
                                                            <option value="">All programs</option>
                                                            {% for programs in programs %}
                                                                <option value="{{ programs.id }}">{{ programs|title }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-4">
                                                    <label>Language</label>
                                                    <div>
                                                        <select class="full-width" name="language">
                                                            <option value="">All languages</option>
                                                            {% for language in languages %}
                                                                <option value="{{ language.id }}">{{ language|title }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-4">
                                                    <label>Subject</label>
                                                    <div>
                                                        <select class="full-width" name="subject">
                                                            <option value="">All subjects</option>
                                                            {% for subject in subjectsSchool %}
                                                                <option value="{{ subject.id }}">{{ subject|title }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <h5 class="title">Where</h5>
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <label>Country</label>
                                                    <div>
                                                        <select class="full-width" id="CountrySelect2" name="country">
                                                            <option value="">All countries</option>
                                                            {% for country in countries %}
                                                                <option value="{{ country.id }}">{{ country|title  }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <label>City</label>
                                                    <div>
                                                        <select class="full-width" id="CitySelect2" name="city">
                                                            <option value="">All cities</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <h5 class="title">Keyword</h5>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <input type="text" class="input-text full-width" placeholder="Search..." name="keyword" />
                                                </div>
                                            </div>
                                            <hr>
                                            <button style="background: #833685" type="submit" class="full-width uppercase">Proceed To Result</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane fade" id="flight-and-hotel-tab">
                                    <form action="{{ path('front_university_redirect') }}" method="post">
                                        <div class="title-container">
                                            <h2 class="search-title">{{ homepage.title3 }}</h2>
                                            <p>{{ homepage.description3 }}</p>
                                            <i class=""><img class="" src="{{ asset('front-assets/images/university.png') }}" /></i>
                                        </div>
                                        <div class="search-content">
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <label>Select a level of study</label>
                                                    <div>
                                                        <select class="full-width" name="level" id="levelOfStudy">
                                                            <option value="">All levels</option>
                                                            {% for level in levels %}
                                                                <option value="{{ level.id }}">{{ level|title }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <label>Qualification</label>
                                                    <div>
                                                        <select class="full-width" name="qualification" id="qualification">
                                                            <option value="">All qualifications</option>
                                                            {% for qualification in qualifications %}
                                                                <option value="{{ qualification.id }}">{{ qualification|title }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <label>Subject</label>
                                                    <div>
                                                        <select class="full-width" name="subject">
                                                            <option value="">All subjects</option>
                                                            {% for subject in subjects %}
                                                                <option value="{{ subject.id }}">{{ subject|title }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <label>Study Mode</label>
                                                    <div>
                                                        <select class="full-width" name="studymode">
                                                            <option value="">all modes</option>
                                                            {% for studyMode in studyModes %}
                                                                <option value="{{ studyMode.id }}">{{ studyMode|title }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <h5 class="title">Where</h5>
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <label>Country</label>
                                                    <div>
                                                        <select class="full-width" id="CountrySelect3" name="country">
                                                            <option value="">All countries</option>
                                                            {% for country in countries %}
                                                                <option value="{{ country.id }}">{{ country|title  }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <label>City</label>
                                                    <div>
                                                        <select class="full-width" id="CitySelect3" name="city">
                                                            <option value="">All cities</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <h5 class="title">Keyword</h5>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <input type="text" name="keyword" class="input-text full-width" placeholder="Search..." />
                                                </div>
                                            </div>
                                            <hr>
                                            <button style="background: #833685" type="submit" class="full-width uppercase">Proceed To Result</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane fade" id="cars-tab">
                                    <form action="{{ path('front_accommodation_redirect') }}" method="post">
                                        <div class="title-container">
                                            <h2 class="search-title">{{ homepage.title4 }}</h2>
                                            <p>{{ homepage.description4 }}</p>
                                            <i class=""><img class="" src="{{ asset('front-assets/images/accommodation.png') }}" /></i>
                                        </div>
                                        <div class="search-content">
                                            <h5 class="title"></h5>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <label>Select type accommodation</label>
                                                    <div>
                                                        <select class="full-width" name="type">
                                                            <option value="">All types</option>
                                                            {% for typeAccommodation in typeAccommodations %}
                                                                <option value="{{ typeAccommodation.id }}">{{ typeAccommodation|title  }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <h5 class="title">Where</h5>
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <label>Country</label>
                                                    <div>
                                                        <select class="full-width" id="CountrySelect4" name="country">
                                                            <option value="">All countries</option>
                                                            {% for country in countries %}
                                                                <option value="{{ country.id }}">{{ country|title  }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <label>City</label>
                                                    <div>
                                                        <select class="full-width" id="CitySelect4" name="city">
                                                            <option value="">All cities</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <h5 class="title">Keyword</h5>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <input type="text" name="keyword" class="input-text full-width" placeholder="Search..." />
                                                </div>
                                            </div>
                                            <hr>
                                            <button style="background: #833685" type="submit" class="full-width uppercase">Proceed To Result</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="content">
        <div class="section container">
            <h2  style="  text-align: center;color: #009fdb;font-size: 40px;">Popular Schools</h2>
            <div class="flexslider image-carousel style2 row-2" data-animation="slide" data-item-width="270" data-item-margin="30">
                <ul class="slides image-box style11">
                    {% for school in schools %}
                        <li>
                            <article class="box" style="background: none">
                                <figure class="animated" data-animation-type="fadeInDown" data-animation-delay="0">
                                    <img style="width: 270px;height: 222px" src="{{ school.image.getAssetPath | imagine_filter('list') }}" alt="">
                                </figure>
                                <div class="details">
                                    <span class="price">
                                        <small>avg/WEEK</small>
                                        {{ school.avgPrice }} {{ school.currency.code }}
                                    </span>
                                    <h4 class="box-title" style="min-height: 80px;  color: #89579a;">
                                        {{ school.school|title }}
                                        <small style="color:red">
                                            {{ school|title }} 
                                        </small>
                                        <small>
                                            <i class="soap-icon-departure yellow-color"></i>
                                            {{ school.city.country.code|upper }}, {{ school.city }}
                                        </small>
                                    </h4>
                                    <div class="feedback" style="float: right">
                                        <div class="five-stars-container" data-toggle="tooltip" data-placement="bottom"><span class="five-stars" style="width: {{ (school.stars/5) *100 }}%;"></span></div>
                                            {#                                        <span class="review">{{ school.reviews }} reviews</span>#}
                                    </div>
                                    <div>
                                        {% if school.type==1 %}
                                            <a style="background: #009fdb;" href="{{ path('front_language_courses_details',{'id':school.id}) }}" class="button btn-small full-width">SELECT</a>
                                        {% else %}
                                            <a style="background: #009fdb;" href="{{ path('front_program_courses_details',{'id':school.id}) }}" class="button btn-small full-width">SELECT</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </article>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {#<div style="background: url('{{  asset(homepage.photo.getAssetPath)}}');background-position: 50% 58px;" class="global-map-area section parallax" data-stellar-background-ratio="0.5">
            <div class="container description text-center">
                <h1>How World wide Studies Works?</h1>
                <br>
                <div class="travelo-process">
                    <img src="{{ asset(homepage.cercle.getAssetPath ) }}">
                    <div class="process first icon-box style12">
                        <div class="details animated" data-animation-type="fadeInUp" data-animation-delay="1">
                            <h4>{{ homepage.title1 }}</h4>
                            <p class="hidden-xs">{{ homepage.description1 }}</p>
                        </div>
                        <div class="icon-wrapper animated" data-animation-type="slideInLeft" data-animation-delay="0">
                            <i class="soap-icon-conference circle"></i>
                        </div>
                    </div>
                    <div class="process second icon-box style12">
                        <div class="icon-wrapper animated" data-animation-type="slideInRight" data-animation-delay="1.5">
                            <i class="soap-icon-businessbag circle"></i>
                        </div>
                        <div class="details animated" data-animation-type="fadeInUp" data-animation-delay="2.5">
                            <h4>{{ homepage.title2 }}</h4>
                            <p class="hidden-xs">{{ homepage.description2 }}</p>
                        </div>
                    </div>
                    <div class="process third icon-box style12">
                        <div class="icon-wrapper animated" data-animation-type="slideInRight" data-animation-delay="2">
                            <i class="soap-icon-hotel-1 circle"></i>
                        </div>
                        <div class="details animated" data-animation-type="fadeInUp" data-animation-delay="3">
                            <h4>{{ homepage.title3 }}</h4>
                            <p class="hidden-xs">{{ homepage.description3 }}</p>
                        </div>
                    </div>
                    <div class="process forth icon-box style12">
                        <div class="details animated" data-animation-type="fadeInUp" data-animation-delay="4.5">
                            <h4>{{ homepage.title4 }}</h4>
                            <p class="hidden-xs">{{ homepage.description4 }}</p>
                        </div>
                        <div class="icon-wrapper animated" data-animation-type="slideInLeft" data-animation-delay="3.5">
                            <i class="soap-icon-carryon takeoff-effect1 circle"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>#}
        <div>
            <img style="  width: 100%; " src="{{  asset('front-assets/images/abcd.jpg')}}"/>
        </div>
        <div class="parallax-window" data-parallax="scroll" data-image-src="{{  asset('front-assets/images/abcd.jpg')}}"></div>        <div class="container">
            <div class="section">
                <h2 style="  text-align: center;color: #94be3d;font-size: 40px;">Featured Destinations</h2>
                <div class="flexslider image-carousel style2 row-2" data-animation="slide" data-item-width="370" data-item-margin="30">
                    <ul class="slides image-box style11">
                        {% for city in cities %}
                            {% if loop.index is not divisible by(2) %}
                                <li>
                                {% endif %}
                                <article class="box">
                                    <figure>
                                        <a href="{{ path('front_city',{'id':city.id}) }}">
                                            <img style="width: 370px;height: 176px" alt="" src="{{ city.image.getAssetPath | imagine_filter('city')}}">
                                        </a>
                                        <figcaption style="background: rgba(148,190,61,0.6);  color: white;">
                                            <h3 class="caption-title">{{ city.libelle }}</h3>
                                            <span style="color: white;">{{ city.country }}</span>
                                        </figcaption>
                                    </figure>
                                </article>
                                {% if loop.index is divisible by(2) %}
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('front-assets/js/parallax/parallax.js') }}"></script>
    <script type="text/javascript">
        tjq(".ABCD").flexslider({
            animation: "fade",
            controlNav: false,
            animationLoop: true,
            directionNav: false,
            slideshow: true,
            slideshowSpeed: 5000
        });</script>
    <script type="text/javascript">
        tjq(document).ready(function () {
            tjq("#price-range").slider({
                range: true,
                min: 0,
                max: 1000,
                values: [100, 800],
                slide: function (event, ui) {
                    tjq(".min-price-label").html("$" + ui.values[ 0 ]);
                    tjq(".max-price-label").html("$" + ui.values[ 1 ]);
                }
            });
            tjq(".min-price-label").html("$" + tjq("#price-range").slider("values", 0));
            tjq(".max-price-label").html("$" + tjq("#price-range").slider("values", 1));
            tjq("#rating").slider({
                range: "min",
                value: 40,
                min: 0,
                max: 50,
                slide: function (event, ui) {

                }
            });
        });</script>
    <script>
        var tid = setInterval(tagline_vertical_slide, 2500);
        function tagline_vertical_slide() {
            var curr = tjq("#tagline ul li.active");
            curr.removeClass("active").addClass("vs-out");
            setTimeout(function () {
                curr.removeClass("vs-out");
            }, 500);
            var nextTag = curr.next('li');
            if (!nextTag.length) {
                nextTag = tjq("#tagline ul li").first();
            }
            nextTag.addClass("active");
        }

        function abortTimer() { // to be called when you want to stop the timer
            clearInterval(tid);
        }

        tjq(document).ready(function () {

            tjq('#levelOfStudy').on('change', function () {
                var qualification = tjq('#qualification');
                qualification.empty();
                qualification.append('<option value="">Loading ...</option>');
                updateTraveloElementUI(qualification);
                var id = tjq(this).val();
                tjq.ajax({
                    url: '{{ path('ajax_level_to_qualification') }}',
                    data: {'id': id},
                    type: 'POST',
                    dataType: 'json',
                    success: function (json) {
                        qualification.empty();
                        tjq.each(json, function (index, value) {
                            qualification.append('<option value="' + index + '">' + value + '</option>');
                            updateTraveloElementUI(qualification);
                        });
                    }
                });
            })
            tjq('#CountrySelect1').on('change', function () {
                var city = tjq('#CitySelect1');
                city.empty();
                city.append('<option value="">Loading ...</option>');
                updateTraveloElementUI(city);
                var id = tjq(this).val();
                tjq.ajax({
                    url: '{{ path('ajax_country_to_city') }}',
                    data: {'id': id},
                    type: 'POST',
                    dataType: 'json',
                    success: function (json) {
                        city.empty();
                        tjq.each(json, function (index, value) {
                            city.append('<option value="' + index + '">' + value + '</option>');
                            updateTraveloElementUI(city);
                        });
                    }
                });
            })
            tjq('#CountrySelect2').on('change', function () {
                var city = tjq('#CitySelect2');
                city.empty();
                city.append('<option value="">Loading ...</option>');
                updateTraveloElementUI(city);
                var id = tjq(this).val();
                tjq.ajax({
                    url: '{{ path('ajax_country_to_city') }}',
                    data: {'id': id},
                    type: 'POST',
                    dataType: 'json',
                    success: function (json) {
                        city.empty();
                        tjq.each(json, function (index, value) {
                            city.append('<option value="' + index + '">' + value + '</option>');
                            updateTraveloElementUI(city);
                        });
                    }
                });
            })
            tjq('#CountrySelect3').on('change', function () {
                var city = tjq('#CitySelect3');
                city.empty();
                city.append('<option value="">Loading ...</option>');
                updateTraveloElementUI(city);
                var id = tjq(this).val();
                tjq.ajax({
                    url: '{{ path('ajax_country_to_city') }}',
                    data: {'id': id},
                    type: 'POST',
                    dataType: 'json',
                    success: function (json) {
                        city.empty();
                        tjq.each(json, function (index, value) {
                            city.append('<option value="' + index + '">' + value + '</option>');
                            updateTraveloElementUI(city);
                        });
                    }
                });
            })
            tjq('#CountrySelect4').on('change', function () {
                var city = tjq('#CitySelect4');
                city.empty();
                city.append('<option value="">Loading ...</option>');
                updateTraveloElementUI(city);
                var id = tjq(this).val();
                tjq.ajax({
                    url: '{{ path('ajax_country_to_city') }}',
                    data: {'id': id},
                    type: 'POST',
                    dataType: 'json',
                    success: function (json) {
                        city.empty();
                        tjq.each(json, function (index, value) {
                            city.append('<option value="' + index + '">' + value + '</option>');
                            updateTraveloElementUI(city);
                        });
                    }
                });
            })
        })
    </script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        ul.search-tabs li.active > a {
            border-right-color: #fff;
            filter: alpha(opacity=100);
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
            -moz-opacity: 1;
            -khtml-opacity: 1;
            opacity: 1;
            color: white;
            background: #27abd8;
        }
        .search-box-wrapper.style1 .search-box > ul.search-tabs li.active > a > i {
            color: #FFFFFF;
        }
        .search-box-wrapper.style1 .search-box > ul.search-tabs li > a > i {
            color: #FFFFFF;
        }
        ul.search-tabs li a {
            display: block;
            padding: 0 30px;
            background: black;
            color: white;
            font-size: 1em;
            font-weight: bold;
            text-decoration: none;
            filter: alpha(opacity=40);
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
            -moz-opacity: 0.4;
            -khtml-opacity: 0.4;
            letter-spacing: 0.04em;
            text-transform: uppercase;
        }
        .search-box-wrapper.style1 .search-tab-content .title-container {
            padding: 15px 40px 0 25px;
            height: 80px;
            position: relative;
            background: rgba(218,73,42,1);
        }
        .PhotoRigth{
            width: 25px;
            height: 25px;
            margin-right: 15px;
            margin-left: -25px;
        }
        .PhotoTop{
            width: 60px;
            height: 50px;
        }
        .image-box.style5 figure figcaption, .image-box.style11 figure figcaption {
            position: absolute;
            z-index: 3;
            left: 0;
            top: 10px;
            padding: 5px 20px 5px 20px;
            min-width: 130px;
            background: #2d3e52;
            -moz-transition: none;
            -o-transition: none;
            -webkit-transition: none;
            -ms-transition: none;
            transition: none;
            -webkit-transform: none;
            -moz-transform: none;
            -ms-transform: none;
            -o-transform: none;
            /* transform: translate3d(-100%, 0, 0); */
        }
    </style>
{% endblock %}