{% extends ":Front:base.html.twig" %}
{% block body %}
    <section id="content" class="slideshow-bg">
        <div id="slideshow">
            <div class="flexslider">
                <ul class="slides">
                    {% for slider in sliders %}
                        <li>
                            <div class="slidebg" style="background-image: url('{{ slider.image.getAssetPath | imagine_filter('slider') }}');"></div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div id="main" class="col-sm-8 col-md-9" style="  padding-top: 20px;">
                    <div class="search-box-wrapper style1">
                        <div class="search-box">
                            <ul class="search-tabs clearfix">
                                <li class="active"><a href="#hotels-tab" data-toggle="tab"><i class="soap-icon-conference"></i>{{ homepage.title1 }}</a></li>
                                <li><a href="#flights-tab" data-toggle="tab"><i class="soap-icon-businessbag"></i>{{ homepage.title2 }}</a></li>
                                <li><a href="#flight-and-hotel-tab" data-toggle="tab"><i class="soap-icon-hotel-1"></i>{{ homepage.title3 }}</a></li>
                                <li><a href="#cars-tab" data-toggle="tab"><i class="soap-icon-carryon"></i>{{ homepage.title4 }}</a></li>
                            </ul>
                            <div class="visible-mobile">
                                <ul id="mobile-search-tabs" class="search-tabs clearfix">
                                    <li class="active"><a href="#hotels-tab">{{ homepage.title1 }}</a></li>
                                    <li><a href="#flights-tab">{{ homepage.title2 }}</a></li>
                                    <li><a href="#flight-and-hotel-tab">{{ homepage.title3 }}</a></li>
                                    <li><a href="#cars-tab">{{ homepage.title4 }}</a></li>
                                </ul>
                            </div>

                            <div class="search-tab-content">
                                <div class="tab-pane fade  active in" id="hotels-tab">
                                    <form action="{{ path('front_language_courses_redirect') }}" method="post">
                                        <div class="title-container">
                                            <h2 class="search-title">{{ homepage.title1 }}</h2>
                                            <p>{{ homepage.description1 }}</p>
                                            <i class="soap-icon-conference"></i>
                                        </div>
                                        <div class="search-content">
                                            <h5 class="title"></h5>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <label>Select a language</label>
                                                    <div class="selector">
                                                        <select class="full-width" name="language">
                                                            <option value="">All languages</option>
                                                            {% for language in languages %}
                                                                <option value="{{ language.id }}">{{ language|title  }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <h5 class="title">Where</h5>
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <label>Country</label>
                                                    <div class="selector">
                                                        <select class="full-width" id="CountrySelect1" name="country">
                                                            <option value="">All countries</option>
                                                            {% for country in countries %}
                                                                <option value="{{ country.id }}">{{ country|title  }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <label>City</label>
                                                    <div class="selector">
                                                        <select class="full-width" id="CitySelect1" name="city">
                                                            <option value="">All cities</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <h5 class="title">Keyword</h5>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <input type="text" name="keyword" class="input-text full-width" placeholder="Search..." />
                                                </div>
                                            </div>
                                            <hr>
                                            <button type="submit" class="full-width uppercase">Proceed To Result</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane fade" id="flights-tab">
                                    <form action="{{ path('front_program_courses_redirect') }}" method="post">
                                        <div class="title-container">
                                            <h2 class="search-title">{{ homepage.title2 }}</h2>
                                            <p>{{ homepage.description2 }}</p>
                                            <i class="soap-icon-businessbag"></i>
                                        </div>
                                        <div class="search-content">
                                            <h5 class="title"></h5>
                                            <div class="row">
                                                <div class="col-xs-4">
                                                    <label>Select a Pathway programs</label>
                                                    <div class="selector">
                                                        <select class="full-width" name="program">
                                                            <option value="">All programs</option>
                                                            {% for programs in programs %}
                                                                <option value="{{ programs.id }}">{{ programs|title }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-4">
                                                    <label>Language</label>
                                                    <div class="selector">
                                                        <select class="full-width" name="language">
                                                            <option value="">All languages</option>
                                                            {% for language in languages %}
                                                                <option value="{{ language.id }}">{{ language|title }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-4">
                                                    <label>Subject</label>
                                                    <div class="selector">
                                                        <select class="full-width" name="subject">
                                                            <option value="">All subjects</option>
                                                            {% for subject in subjectsSchool %}
                                                                <option value="{{ subject.id }}">{{ subject|title }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <h5 class="title">Where</h5>
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <label>Country</label>
                                                    <div class="selector">
                                                        <select class="full-width" id="CountrySelect2" name="country">
                                                            <option value="">All countries</option>
                                                            {% for country in countries %}
                                                                <option value="{{ country.id }}">{{ country|title  }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <label>City</label>
                                                    <div class="selector">
                                                        <select class="full-width" id="CitySelect2" name="city">
                                                            <option value="">All cities</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <h5 class="title">Keyword</h5>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <input type="text" class="input-text full-width" placeholder="Search..." name="keyword" />
                                                </div>
                                            </div>
                                            <hr>
                                            <button type="submit" class="full-width uppercase">Proceed To Result</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane fade" id="flight-and-hotel-tab">
                                    <form action="{{ path('front_university_redirect') }}" method="post">
                                        <div class="title-container">
                                            <h2 class="search-title">{{ homepage.title3 }}</h2>
                                            <p>{{ homepage.description3 }}</p>
                                            <i class="soap-icon-hotel-1"></i>
                                        </div>
                                        <div class="search-content">
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <label>Select a level of study</label>
                                                    <div class="selector">
                                                        <select class="full-width" name="level">
                                                            <option value="">All levels</option>
                                                            {% for level in levels %}
                                                                <option value="{{ level.id }}">{{ level|title }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <label>Qualification</label>
                                                    <div class="selector">
                                                        <select class="full-width" name="qualification">
                                                            <option value="">All qualifications</option>
                                                            {% for qualification in qualifications %}
                                                                <option value="{{ qualification.id }}">{{ qualification|title }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <label>Subject</label>
                                                    <div class="selector">
                                                        <select class="full-width" name="subject">
                                                            <option value="">All subjects</option>
                                                            {% for subject in subjects %}
                                                                <option value="{{ subject.id }}">{{ subject|title }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <label>Study Mode</label>
                                                    <div class="selector">
                                                        <select class="full-width" name="studymode">
                                                            <option value="">all modes</option>
                                                            {% for studyMode in studyModes %}
                                                                <option value="{{ studyMode.id }}">{{ studyMode|title }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <h5 class="title">Where</h5>
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <label>Country</label>
                                                    <div class="selector">
                                                        <select class="full-width" id="CountrySelect3" name="country">
                                                            <option value="">All countries</option>
                                                            {% for country in countries %}
                                                                <option value="{{ country.id }}">{{ country|title  }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <label>City</label>
                                                    <div class="selector">
                                                        <select class="full-width" id="CitySelect3" name="city">
                                                            <option value="">All cities</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <h5 class="title">Keyword</h5>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <input type="text" name="keyword" class="input-text full-width" placeholder="Search..." />
                                                </div>
                                            </div>
                                            <hr>
                                            <button type="submit" class="full-width uppercase">Proceed To Result</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane fade" id="cars-tab">
                                    <form action="{{ path('front_accommodation_redirect') }}" method="post">
                                        <div class="title-container">
                                            <h2 class="search-title">{{ homepage.title4 }}</h2>
                                            <p>{{ homepage.description4 }}</p>
                                            <i class="soap-icon-carryon"></i>
                                        </div>
                                        <div class="search-content">
                                            <h5 class="title"></h5>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <label>Select type accommodation</label>
                                                    <div class="selector">
                                                        <select class="full-width" name="type">
                                                            <option value="">All types</option>
                                                            {% for typeAccommodation in typeAccommodations %}
                                                                <option value="{{ typeAccommodation.id }}">{{ typeAccommodation|title  }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <h5 class="title">Where</h5>
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <label>Country</label>
                                                    <div class="selector">
                                                        <select class="full-width" id="CountrySelect4" name="country">
                                                            <option value="">All countries</option>
                                                            {% for country in countries %}
                                                                <option value="{{ country.id }}">{{ country|title  }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <label>City</label>
                                                    <div class="selector">
                                                        <select class="full-width" id="CitySelect4" name="city">
                                                            <option value="">All cities</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <h5 class="title">Keyword</h5>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <input type="text" name="keyword" class="input-text full-width" placeholder="Search..." />
                                                </div>
                                            </div>
                                            <hr>
                                            <button type="submit" class="full-width uppercase">Proceed To Result</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebar col-sm-4 col-md-3" style="  z-index: 11;padding-top: 20px;">
                    <div class="travelo-box contact-box">
                        <h4>{{ homepage.title }}</h4>
                        <p>{{ homepage.description }}</p>
                        <address class="contact-details">
                            <span class="contact-phone"><i class="soap-icon-phone"></i>{{ contact.phone }}</span>
                            <br>
                            <a class="contact-email" href="#">{{ contact.email }}</a>
                        </address>
                    </div>
                    <div class="fb-page" data-href="https://www.facebook.com/WorldwideStudiesTunisia" data-width="270px" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/WorldwideStudiesTunisia"><a href="https://www.facebook.com/WorldwideStudiesTunisia">Worldwide Studies</a></blockquote></div></div>                   
                </div>
            </div>
        </div>
    </section>
    <section id="content">
        <div class="global-map-area section parallax" data-stellar-background-ratio="0.5">
            <div class="container description">
                <div class="text-center">
                    <h2>Amazing Destination Ideas for <em>you!</em></h2>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-6 col-sm-4 col-md-2">
                        <div class="icon-box style4 animated" data-animation-type="slideInRight" data-animation-delay="0">
                            <i class="soap-icon-adventure yellow-color"></i>
                            <h4 class="box-title">Adventure</h4>
                            <p class="description">
                                Lorem Ipsum simply dummy text industry.
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-2">
                        <div class="icon-box style4 animated" data-animation-type="slideInRight" data-animation-delay="0.3">
                            <i class="soap-icon-beach yellow-color"></i>
                            <h4 class="box-title">Beach</h4>
                            <p class="description">
                                Lorem Ipsum simply dummy text industry.
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-2">
                        <div class="icon-box style4 animated" data-animation-type="slideInRight" data-animation-delay="0.6">
                            <i class="soap-icon-party yellow-color"></i>
                            <h4 class="box-title">Party</h4>
                            <p class="description">
                                Lorem Ipsum simply dummy text industry.
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-2">
                        <div class="icon-box style4 animated" data-animation-type="slideInRight" data-animation-delay="0.9">
                            <i class="soap-icon-playplace yellow-color"></i>
                            <h4 class="box-title">Golf</h4>
                            <p class="description">
                                Lorem Ipsum simply dummy text industry.
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-2">
                        <div class="icon-box style4 animated" data-animation-type="slideInRight" data-animation-delay="1.2">
                            <i class="soap-icon-couples yellow-color"></i>
                            <h4 class="box-title">Romance</h4>
                            <p class="description">
                                Lorem Ipsum simply dummy text industry.
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-2">
                        <div class="icon-box style4 animated" data-animation-type="slideInRight" data-animation-delay="1.5">
                            <i class="soap-icon-ski yellow-color"></i>
                            <h4 class="box-title">Ski</h4>
                            <p class="description">
                                Lorem Ipsum simply dummy text industry.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section container">
            <h2>Popular Hotels</h2>
            <div class="row image-box hotel listing-style1">
                <div class="col-sms-6 col-sm-6 col-md-3">
                    <article class="box">
                        <figure class="animated" data-animation-type="fadeInDown" data-animation-delay="0">
                            <a class="hover-effect popup-gallery" href="ajax/slideshow-popup.html" title=""><img width="270" height="160" src="http://placehold.it/270x160" alt=""></a>
                        </figure>
                        <div class="details">
                            <span class="price">
                                <small>avg/night</small>
                                $360
                            </span>
                            <h4 class="box-title">Hotel Hilton<small>Paris france</small></h4>
                            <div class="feedback">
                                <div title="4 stars" class="five-stars-container" data-toggle="tooltip" data-placement="bottom"><span class="five-stars" style="width: 80%;"></span></div>
                                <span class="review">270 reviews</span>
                            </div>
                            <p class="description">Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam.</p>
                            <div class="action">
                                <a href="hotel-detailed.html" class="button btn-small">SELECT</a>
                                <a href="#" class="button btn-small yellow popup-map" data-box="48.856614, 2.352222">VIEW ON MAP</a>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-sms-6 col-sm-6 col-md-3">
                    <article class="box">
                        <figure class="animated" data-animation-type="fadeInDown" data-animation-delay="0.6">
                            <a class="hover-effect popup-gallery" href="ajax/slideshow-popup.html" title=""><img width="270" height="160" src="http://placehold.it/270x160" alt=""></a>
                        </figure>
                        <div class="details">
                            <span class="price"><small>avg/night</small>$188</span>
                            <h4 class="box-title">Forte Do Vale<small>Albufeira</small></h4>
                            <div class="feedback">
                                <div title="4 stars" class="five-stars-container" data-toggle="tooltip" data-placement="bottom"><span class="five-stars" style="width: 80%;"></span></div>
                                <span class="review">170 reviews</span>
                            </div>
                            <p class="description">Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam.</p>
                            <div class="action">
                                <a href="hotel-detailed.html" class="button btn-small">SELECT</a>
                                <a href="#" class="button btn-small yellow popup-map" data-box="37.089072, -8.247880">VIEW ON MAP</a>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-sms-6 col-sm-6 col-md-3">
                    <article class="box">
                        <figure class="animated" data-animation-type="fadeInDown" data-animation-delay="0.9">
                            <a class="hover-effect popup-gallery" href="ajax/slideshow-popup.html" title=""><img width="270" height="160" src="http://placehold.it/270x160" alt=""></a>
                        </figure>
                        <div class="details">
                            <span class="price"><small>avg/night</small>$322</span>
                            <h4 class="box-title">Gran Canaria<small>spain</small></h4>
                            <div class="feedback">
                                <div title="4 stars" class="five-stars-container" data-toggle="tooltip" data-placement="bottom"><span class="five-stars" style="width: 80%;"></span></div>
                                <span class="review">485 reviews</span>
                            </div>
                            <p class="description">Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam.</p>
                            <div class="action">
                                <a href="hotel-detailed.html" class="button btn-small">SELECT</a>
                                <a href="#" class="button btn-small yellow popup-map" data-box="40.463667, -3.749220">VIEW ON MAP</a>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-sms-6 col-sm-6 col-md-3">
                    <article class="box">
                        <figure class="animated" data-animation-type="fadeInDown" data-animation-delay="1.2">
                            <a class="hover-effect popup-gallery" href="ajax/slideshow-popup.html" title=""><img width="270" height="160" src="http://placehold.it/270x160" alt=""></a>
                        </figure>
                        <div class="details">
                            <span class="price"><small>avg/night</small>$170</span>
                            <h4 class="box-title">Roosevelt Hotel<small>New york</small></h4>
                            <div class="feedback">
                                <div title="4 stars" class="five-stars-container" data-toggle="tooltip" data-placement="bottom"><span class="five-stars" style="width: 80%;"></span></div>
                                <span class="review">75 reviews</span>
                            </div>
                            <p class="description">Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam.</p>
                            <div class="action">
                                <a href="hotel-detailed.html" class="button btn-small">SELECT</a>
                                <a href="#" class="button btn-small yellow popup-map" data-box="40.705631, -73.978003">VIEW ON MAP</a>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        <div class="global-map-area section parallax" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="description text-center">
                    <h1>Our Customers Favourite Destinations</h1>
                    <p>Nunc cursus libero purusac congue arcu cursus utsed vitae pulvinar massa idporta neque.</p>
                    <p>Etiam elerisque mi id faucibus iaculis vitae pulvinar.</p>
                </div>
                <div class="image-carousel style3 flex-slider" data-item-width="170" data-item-margin="30">
                    <ul class="slides image-box style9">
                        <li>
                            <article class="box">
                                <figure>
                                    <a href="hotel-list-view.html" title="" class="hover-effect yellow"><img src="http://placehold.it/170x160" alt="" width="170" height="160" /></a>
                                </figure>
                                <div class="details">
                                    <h4 class="box-title">Majorca<small>(54 reviews)</small></h4>
                                    <a href="hotel-list-view.html" title="" class="button">MORE</a>
                                </div>
                            </article>
                        </li>
                        <li>
                            <article class="box">
                                <figure>
                                    <a href="hotel-list-view.html" title="" class="hover-effect yellow"><img src="http://placehold.it/170x160" alt="" width="170" height="160" /></a>
                                </figure>
                                <div class="details">
                                    <h4 class="box-title">Tenerife<small>(524 reviews)</small></h4>
                                    <a href="hotel-list-view.html" title="" class="button">MORE</a>
                                </div>
                            </article>
                        </li>
                        <li>
                            <article class="box">
                                <figure>
                                    <a href="hotel-list-view.html" title="" class="hover-effect yellow"><img src="http://placehold.it/170x160" alt="" width="170" height="160" /></a>
                                </figure>
                                <div class="details">
                                    <h4 class="box-title">Costa Blanca<small>(24 reviews)</small></h4>
                                    <a href="hotel-list-view.html" title="" class="button">MORE</a>
                                </div>
                            </article>
                        </li>
                        <li>
                            <article class="box">
                                <figure>
                                    <a href="hotel-list-view.html" title="" class="hover-effect yellow"><img src="http://placehold.it/170x160" alt="" width="170" height="160" /></a>
                                </figure>
                                <div class="details">
                                    <h4 class="box-title">Dalaman<small>(12 reviews)</small></h4>
                                    <a href="hotel-list-view.html" title="" class="button">MORE</a>
                                </div>
                            </article>
                        </li>
                        <li>
                            <article class="box">
                                <figure>
                                    <a href="hotel-list-view.html" title="" class="hover-effect yellow"><img src="http://placehold.it/170x160" alt="" width="170" height="160" /></a>
                                </figure>
                                <div class="details">
                                    <h4 class="box-title">Algarve<small>(34 reviews)</small></h4>
                                    <a href="hotel-list-view.html" title="" class="button">MORE</a>
                                </div>
                            </article>
                        </li>
                        <li>
                            <article class="box">
                                <figure>
                                    <a href="hotel-list-view.html" title="" class="hover-effect yellow"><img src="http://placehold.it/170x160" alt="" width="170" height="160" /></a>
                                </figure>
                                <div class="details">
                                    <h4 class="box-title">Ibiza<small>(64 reviews)</small></h4>
                                    <a href="hotel-list-view.html" title="" class="button">MORE</a>
                                </div>
                            </article>
                        </li>
                        <li>
                            <article class="box">
                                <figure>
                                    <a href="hotel-list-view.html" title="" class="hover-effect yellow"><img src="http://placehold.it/170x160" alt="" width="170" height="160" /></a>
                                </figure>
                                <div class="details">
                                    <h4 class="box-title">Majorca<small>(54 reviews)</small></h4>
                                    <a href="hotel-list-view.html" title="" class="button">MORE</a>
                                </div>
                            </article>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="section">
                <h2>Travel Guide and Tips</h2>
                <div class="row">
                    <div class="col-sms-6 col-sm-6 col-md-3">
                        <div class="travelo-box">
                            <h4 class="s-title animated" data-animation-type="fadeInLeft">Plan your Travels</h4>
                            <p>Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam elerisque mi id faucibus iaculis vitae pulvinar.</p>
                        </div>
                    </div>
                    <div class="col-sms-6 col-sm-6 col-md-3">
                        <div class="travelo-box">
                            <h4 class="s-title animated" data-animation-type="fadeInLeft">Check Availability</h4>
                            <p>Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam elerisque mi id faucibus iaculis vitae pulvinar.</p>
                        </div>
                    </div>
                    <div class="col-sms-6 col-sm-6 col-md-3">
                        <div class="travelo-box">
                            <h4 class="s-title animated" data-animation-type="fadeInLeft">Get Insurance</h4>
                            <p>Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam elerisque mi id faucibus iaculis vitae pulvinar.</p>
                        </div>
                    </div>
                    <div class="col-sms-6 col-sm-6 col-md-3">
                        <div class="travelo-box">
                            <h4 class="s-title animated" data-animation-type="fadeInLeft">Secure your Bookings</h4>
                            <p>Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam elerisque mi id faucibus iaculis vitae pulvinar.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="honeymoon section global-map-area promo-box parallax" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="col-sm-6 content-section description pull-right">
                    <h1 class="title">Popular Destinations for Honeymoon</h1>
                    <p>Nunc cursus libero purusac congue arcu cursus utsed vitae pulvinar massa idporta neque purusac Etiam elerisque mi id faucibus iaculis vitae pulvinar.</p>
                    <div class="row places image-box style9">
                        <div class="col-xs-4">
                            <article class="box">
                                <figure>
                                    <a href="hotel-list-view.html" title="" class="hover-effect yellow middle-block animated" data-animation-type="fadeInUp" data-animation-duration="1">
                                        <img src="http://placehold.it/170x170" alt="" /></a>
                                </figure>
                                <div class="details">
                                    <h4 class="box-title">Paris<small>(990 PLACES)</small></h4>
                                    <a href="hotel-list-view.html" title="" class="button">SEE ALL</a>
                                </div>
                            </article>
                        </div>
                        <div class="col-xs-4">
                            <article class="box">
                                <figure>
                                    <a href="hotel-list-view.html" title="" class="hover-effect yellow middle-block animated" data-animation-type="fadeInUp" data-animation-duration="1" data-animation-delay="0.4"><img src="http://placehold.it/170x170" alt="" /></a>
                                </figure>
                                <div class="details">
                                    <h4 class="box-title">Greece<small>(990 PLACES)</small></h4>
                                    <a href="hotel-list-view.html" title="" class="button">SEE ALL</a>
                                </div>
                            </article>
                        </div>
                        <div class="col-xs-4">
                            <article class="box">
                                <figure>
                                    <a href="hotel-list-view.html" title="" class="hover-effect yellow middle-block animated" data-animation-type="fadeInUp" data-animation-duration="1" data-animation-delay="0.8"><img src="http://placehold.it/170x170" alt="" /></a>
                                </figure>
                                <div class="details">
                                    <h4 class="box-title">Australia<small>(990 PLACES)</small></h4>
                                    <a href="hotel-list-view.html" title="" class="button">SEE ALL</a>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 image-container no-margin">
                    <img src="http://placehold.it/524x540" alt="" class="animated" data-animation-type="fadeInUp" data-animation-duration="2">
                </div>
            </div>
        </div>
        <div class="container section">
            <h2>Explore Our Best Destinations</h2>
            <div class="row image-box style10">
                <div class="col-sms-6 col-sm-6 col-md-3">
                    <article class="box">
                        <figure class="animated" data-animation-type="fadeInDown" data-animation-duration="2">
                            <a href="hotel-list-view.html" title="" class="hover-effect"><img src="http://placehold.it/270x160" alt="" width="270" height="160" /></a>
                        </figure>
                        <div class="details">
                            <a href="hotel-list-view.html" class="button btn-mini">SEE ALL</a>
                            <h4 class="box-title">Paris<small>(990 places)</small></h4>
                        </div>
                    </article>
                </div>
                <div class="col-sms-6 col-sm-6 col-md-3">
                    <article class="box">
                        <figure class="animated" data-animation-type="fadeInDown" data-animation-duration="2">
                            <a href="hotel-list-view.html" title="" class="hover-effect"><img src="http://placehold.it/270x160" alt="" width="270" height="160" /></a>
                        </figure>
                        <div class="details">
                            <a href="hotel-list-view.html" class="button btn-mini">SEE ALL</a>
                            <h4 class="box-title">London<small>(990 places)</small></h4>
                        </div>
                    </article>
                </div>
                <div class="col-sms-6 col-sm-6 col-md-3">
                    <article class="box">
                        <figure class="animated" data-animation-type="fadeInDown" data-animation-duration="2">
                            <a href="hotel-list-view.html" title="" class="hover-effect"><img src="http://placehold.it/270x160" alt="" width="270" height="160" /></a>
                        </figure>
                        <div class="details">
                            <a href="hotel-list-view.html" class="button btn-mini">SEE ALL</a>
                            <h4 class="box-title">New York<small>(990 places)</small></h4>
                        </div>
                    </article>
                </div>
                <div class="col-sms-6 col-sm-6 col-md-3">
                    <article class="box">
                        <figure class="animated" data-animation-type="fadeInDown" data-animation-duration="2">
                            <a href="hotel-list-view.html" title="" class="hover-effect"><img src="http://placehold.it/270x160" alt="" width="270" height="160" /></a>
                        </figure>
                        <div class="details">
                            <a href="hotel-list-view.html" class="button btn-mini">SEE ALL</a>
                            <h4 class="box-title">Sydney<small>(990 places)</small></h4>
                        </div>
                    </article>
                </div>
                <div class="col-sms-6 col-sm-6 col-md-3">
                    <article class="box">
                        <figure class="animated" data-animation-type="fadeInDown" data-animation-duration="2">
                            <a href="hotel-list-view.html" title="" class="hover-effect"><img src="http://placehold.it/270x160" alt="" width="270" height="160" /></a>
                        </figure>
                        <div class="details">
                            <a href="hotel-list-view.html" class="button btn-mini">SEE ALL</a>
                            <h4 class="box-title">Spain<small>(990 places)</small></h4>
                        </div>
                    </article>
                </div>
                <div class="col-sms-6 col-sm-6 col-md-3">
                    <article class="box">
                        <figure class="animated" data-animation-type="fadeInDown" data-animation-duration="2">
                            <a href="hotel-list-view.html" title="" class="hover-effect"><img src="http://placehold.it/270x160" alt="" width="270" height="160" /></a>
                        </figure>
                        <div class="details">
                            <a href="hotel-list-view.html" class="button btn-mini">SEE ALL</a>
                            <h4 class="box-title">England<small>(990 places)</small></h4>
                        </div>
                    </article>
                </div>
                <div class="col-sms-6 col-sm-6 col-md-3">
                    <article class="box">
                        <figure class="animated" data-animation-type="fadeInDown" data-animation-duration="2">
                            <a href="hotel-list-view.html" title="" class="hover-effect"><img src="http://placehold.it/270x160" alt="" width="270" height="160" /></a>
                        </figure>
                        <div class="details">
                            <a href="hotel-list-view.html" class="button btn-mini">SEE ALL</a>
                            <h4 class="box-title">Rome<small>(990 places)</small></h4>
                        </div>
                    </article>
                </div>
                <div class="col-sms-6 col-sm-6 col-md-3">
                    <article class="box">
                        <figure class="animated" data-animation-type="fadeInDown" data-animation-duration="2">
                            <a href="hotel-list-view.html" title="" class="hover-effect"><img src="http://placehold.it/270x160" alt="" width="270" height="160" /></a>
                        </figure>
                        <div class="details">
                            <a href="hotel-list-view.html" class="button btn-mini">SEE ALL</a>
                            <h4 class="box-title">Austrilia<small>(990 places)</small></h4>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        <div class="global-map-area section parallax" data-stellar-background-ratio="0.5">
            <div class="container">
                <h1 class="text-center white-color">Testimonial Style 03</h1>
                <div class="testimonial style3">
                    <ul class="slides ">
                        <li>
                            <div class="author"><a href="#"><img src="http://placehold.it/270x270" alt="" width="74" height="74" /></a></div>
                            <blockquote class="description">We'd like to thank <em>Travelo</em> for making our honeymoon such a memorable experience as we were able to do everything on a single website.</blockquote>
                            <h2 class="name">Lisa Kimberly</h2>
                        </li>
                        <li>
                            <div class="author"><a href="#"><img src="http://placehold.it/270x270" alt="" width="74" height="74" /></a></div>
                            <blockquote class="description">We'd like to thank <em>Travelo</em> for making our honeymoon such a memorable experience as we were able to do everything on a single website.</blockquote>
                            <h2 class="name">Jessica Brown</h2>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        tjq(document).ready(function () {
            tjq('#CountrySelect1').on('change', function () {
                var city = tjq('#CitySelect1');
                city.empty();
                city.append('<option value="">Loading ...</option>');
                updateTraveloElementUI(city);
                var id = tjq(this).val();
                tjq.ajax({
                    url: '{{ path('ajax_country_to_city') }}',
                    data: {'id': id},
                    type: 'POST',
                    dataType: 'json',
                    success: function (json) {
                        city.empty();
                        tjq.each(json, function (index, value) {
                            city.append('<option value="' + index + '">' + value + '</option>');
                            updateTraveloElementUI(city);
                        });
                    }
                });
            })
            tjq('#CountrySelect2').on('change', function () {
                var city = tjq('#CitySelect2');
                city.empty();
                city.append('<option value="">Loading ...</option>');
                updateTraveloElementUI(city);
                var id = tjq(this).val();
                tjq.ajax({
                    url: '{{ path('ajax_country_to_city') }}',
                    data: {'id': id},
                    type: 'POST',
                    dataType: 'json',
                    success: function (json) {
                        city.empty();
                        tjq.each(json, function (index, value) {
                            city.append('<option value="' + index + '">' + value + '</option>');
                            updateTraveloElementUI(city);
                        });
                    }
                });
            })
            tjq('#CountrySelect3').on('change', function () {
                var city = tjq('#CitySelect3');
                city.empty();
                city.append('<option value="">Loading ...</option>');
                updateTraveloElementUI(city);
                var id = tjq(this).val();
                tjq.ajax({
                    url: '{{ path('ajax_country_to_city') }}',
                    data: {'id': id},
                    type: 'POST',
                    dataType: 'json',
                    success: function (json) {
                        city.empty();
                        tjq.each(json, function (index, value) {
                            city.append('<option value="' + index + '">' + value + '</option>');
                            updateTraveloElementUI(city);
                        });
                    }
                });
            })
            tjq('#CountrySelect4').on('change', function () {
                var city = tjq('#CitySelect4');
                city.empty();
                city.append('<option value="">Loading ...</option>');
                updateTraveloElementUI(city);
                var id = tjq(this).val();
                tjq.ajax({
                    url: '{{ path('ajax_country_to_city') }}',
                    data: {'id': id},
                    type: 'POST',
                    dataType: 'json',
                    success: function (json) {
                        city.empty();
                        tjq.each(json, function (index, value) {
                            city.append('<option value="' + index + '">' + value + '</option>');
                            updateTraveloElementUI(city);
                        });
                    }
                });
            })
        })
    </script>
{% endblock %}