{% extends ":Front:base.html.twig" %}
{% block title %}{{ city }}{% endblock %}
{% block body %}
    <div class="page-title-container">
        <div class="container">
            <div class="page-title pull-left">
                <h2 class="entry-title">{{ city }}</h2>
            </div>
        </div>
    </div>
    <section id="content">
        <div class="container">
            <div id="main">
                <div class="row">
                    <div class="col-sm-4 col-md-3">
                        <div class="icon-box style3 counters-box">
                            <div class="travelo-google-map block"></div>
                        </div>
                    </div>
                    <div class="col-sm-8 col-md-9">
                        {% if languagesCourses|length>0 %}
                            <h1>Languages Courses</h1>
                            <div class="row image-box style9">
                                <div class="flexslider image-carousel style2 row-2" data-animation="slide" data-item-width="270" data-item-margin="30">
                                    <ul class="slides image-box style11">
                                        {% for school in languagesCourses %}
                                            <li>
                                                <article class="box">
                                                    <figure class="animated" data-animation-type="fadeInDown" data-animation-delay="0">
                                                        <img style="width: 270px;height: 160px" src="{{ school.image.getAssetPath | imagine_filter('list') }}" alt="">
                                                    </figure>
                                                    <div class="details" style="  text-align: left;">
                                                        <span class="price">
                                                            <small>avg/WEEK</small>
                                                            {{ school.avgPrice }} {{ school.currency.code }}
                                                        </span>
                                                        <h4 class="box-title" style="min-height: 80px;">
                                                            {{ school.school|title }}
                                                            <small style="color:red">
                                                                {{ school|title }} 
                                                            </small>
                                                            <small>
                                                                <i class="soap-icon-departure yellow-color"></i>
                                                                {{ school.city.country.code|upper }}, {{ school.city }}
                                                            </small>
                                                        </h4>
                                                        <div class="feedback">
                                                            <div class="five-stars-container" data-toggle="tooltip" data-placement="bottom"><span class="five-stars" style="width: {{ (school.stars/5) *100 }}%;"></span></div>
                                                            <span class="review">{{ school.reviews }} reviews</span>
                                                        </div>
                                                        <div>
                                                            {% if school.type==1 %}
                                                                <a href="{{ path('front_language_courses_details',{'id':school.id}) }}" class="button btn-small full-width">SELECT</a>
                                                            {% else %}
                                                                <a href="{{ path('front_program_courses_details',{'id':school.id}) }}" class="button btn-small full-width">SELECT</a>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </article>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% endif %}
                        {% if pathwayCourses|length>0 %}
                            <h1>Pathways Courses</h1>
                            <div class="row image-box style9">
                                <div class="flexslider image-carousel style2 row-2" data-animation="slide" data-item-width="270" data-item-margin="30">
                                    <ul class="slides image-box style11">
                                        {% for school in pathwayCourses %}
                                            <li>
                                                <article class="box">
                                                    <figure class="animated" data-animation-type="fadeInDown" data-animation-delay="0">
                                                        <img style="width: 270px;height: 160px" src="{{ school.image.getAssetPath | imagine_filter('list') }}" alt="">
                                                    </figure>
                                                    <div class="details" style="  text-align: left;">
                                                        <span class="price">
                                                            <small>avg/WEEK</small>
                                                            {{ school.avgPrice }} {{ school.currency.code }}
                                                        </span>
                                                        <h4 class="box-title" style="min-height: 80px;">
                                                            {{ school.school|title }}
                                                            <small style="color:red">
                                                                {{ school|title }} 
                                                            </small>
                                                            <small>
                                                                <i class="soap-icon-departure yellow-color"></i>
                                                                {{ school.city.country.code|upper }}, {{ school.city }}
                                                            </small>
                                                        </h4>
                                                        <div class="feedback">
                                                            <div class="five-stars-container" data-toggle="tooltip" data-placement="bottom"><span class="five-stars" style="width: {{ (school.stars/5) *100 }}%;"></span></div>
                                                            <span class="review">{{ school.reviews }} reviews</span>
                                                        </div>
                                                        <div>
                                                            {% if school.type==1 %}
                                                                <a href="{{ path('front_language_courses_details',{'id':school.id}) }}" class="button btn-small full-width">SELECT</a>
                                                            {% else %}
                                                                <a href="{{ path('front_program_courses_details',{'id':school.id}) }}" class="button btn-small full-width">SELECT</a>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </article>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% endif %}
                        {% if accommodations|length>0 %}
                            <h1>Accommodations</h1>
                            <div class="row image-box style9">
                                <div class="flexslider image-carousel style2 row-2" data-animation="slide" data-item-width="270" data-item-margin="30">
                                    <ul class="slides image-box style11">
                                        {% for accommodation in accommodations %}
                                            <li>
                                                <article class="box">
                                                    <figure class="animated" data-animation-type="fadeInDown" data-animation-delay="0">
                                                        <img style="width: 270px;height: 160px" src="{{ accommodation.image.getAssetPath | imagine_filter('list') }}" alt="">
                                                    </figure>
                                                    <div class="details" style="  text-align: left;">
                                                        <span class="price">
                                                            <small>avg/WEEK</small>
                                                            {{ accommodation.avgPrice }} {{ accommodation.currency.code }}
                                                        </span>
                                                        <h4 class="box-title" style="min-height: 80px;">
                                                            {{ accommodation|title }}
                                                            <small>
                                                                <i class="soap-icon-departure yellow-color"></i>
                                                                {{ accommodation.city.country.code|upper }}, {{ accommodation.city }}
                                                            </small>
                                                        </h4>
                                                        <div>
                                                            <a href="{{ path('front_accommodations',{'id':accommodation.id}) }}" class="button btn-small full-width">SELECT</a>
                                                        </div>
                                                    </div>
                                                </article>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type='text/javascript' src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
    <script type="text/javascript" src="{{ asset('front-assets/js/gmap3.min.js')}}"></script>
    <script type="text/javascript">
        var tid = setInterval(tagline_vertical_slide, 2500);
        function tagline_vertical_slide() {
            var curr = tjq("#tagline ul li.active");
            curr.removeClass("active").addClass("vs-out");
            setTimeout(function () {
                curr.removeClass("vs-out");
            }, 500);

            var nextTag = curr.next('li');
            if (!nextTag.length) {
                nextTag = tjq("#tagline ul li").first();
            }
            nextTag.addClass("active");
        }

        function abortTimer() { // to be called when you want to stop the timer
            clearInterval(tid);
        }
        tjq(".travelo-google-map").gmap3({
            map: {
                options: {
                    center: [{{ getGeoLocationCity(city) }}],
                    zoom: 9
                }
            },
            marker: {
                values: [
                    {latLng: [{{ getGeoLocationCity(city) }}], data: "{{ getNameCity(city) }}"}

                ],
                options: {
                    draggable: false
                },
            }
        });
    </script>
{% endblock %}