{% extends ":Front:base.html.twig" %}
{% block title %}Contact us{% endblock %}
{% block body %}
    <div class="page-title-container">
        <div class="container">
            <div class="page-title pull-left">
                <h2 class="entry-title">Contact Us</h2>
            </div>
        </div>
    </div>

    <section id="content">
        <div class="container">
            <div id="main">
                <div class="travelo-google-map block"></div>
                <div class="row">
                    <div class="col-sm-4 col-md-3">
                        <div class="travelo-box contact-us-box">
                            <h4>Contact us</h4>
                            <ul class="contact-address">
                                <li class="address">
                                    <i class="soap-icon-address circle"></i>
                                    <h5 class="title">Address</h5>
                                    <p>{{ contact.address }}</p>
                                </li>
                                <li class="phone">
                                    <i class="soap-icon-phone circle"></i>
                                    <h5 class="title">Phone</h5>
                                    <p>PHONE: {{ contact.phone }}</p>
                                    <p>FAX: {{ contact.fax }}</p>
                                </li>
                                <li class="email">
                                    <i class="soap-icon-message circle"></i>
                                    <h5 class="title">Email</h5>
                                    <p>{{ contact.email }}</p>
                                </li>
                            </ul>
                            <ul class="social-icons full-width">
                                <li><a href="{{ contact.twitter }}" data-toggle="tooltip" title="Twitter"><i class="soap-icon-twitter"></i></a></li>
                                <li><a href="{{ contact.googlePlus }}" data-toggle="tooltip" title="GooglePlus"><i class="soap-icon-googleplus"></i></a></li>
                                <li><a href="{{ contact.facebook }}" data-toggle="tooltip" title="Facebook"><i class="soap-icon-facebook"></i></a></li>
                                <li><a href="{{ contact.linkedIn }}" data-toggle="tooltip" title="Linkedin"><i class="soap-icon-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-8 col-md-9">
                        {% include ':Front:notification.html.twig' %}
                        <div class="travelo-box">
                            <form class="contact-form" action="{{ path('contact') }}" method="post">
                                <h4 class="box-title">Send us a Message</h4>
                                <div class="row form-group">
                                    <div class="col-xs-4">
                                        <label>Your Name</label>
                                        <input type="text" name="name" class="input-text full-width" required>
                                    </div>
                                    <div class="col-xs-4">
                                        <label>Your Email</label>
                                        <input type="email" name="email" class="input-text full-width" required>
                                    </div>
                                    <div class="col-xs-4">
                                        <label>Phone</label>
                                        <input type="text" name="phone" class="input-text full-width" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Your Message</label>
                                    <textarea name="message" required rows="6" class="input-text full-width" placeholder="write message here"></textarea>
                                </div>
                                <button type="submit" class="btn-large full-width">SEND MESSAGE</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <!-- Google Map Api -->
    <script type='text/javascript' src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
    <script type="text/javascript" src="{{ asset('front-assets/js/gmap3.min.js')}}"></script>
    <script type="text/javascript">
        tjq(".travelo-google-map").gmap3({
            map: {
                options: {
                    center: [{{ contact.longitude }},{{ contact.latitude }}],
                    zoom: 12
                }
            },
            marker: {
                values: [
                    {latLng: [{{ contact.longitude }}, {{ contact.latitude }}], data: "{{ contact.address }}"}

                ],
                options: {
                    draggable: false
                },
            }
        });
    </script>
{% endblock %}