{% extends ":Back:base.html.twig" %}
{% block title %}Accommodation{% endblock %}
{% block body %}
    <div class="tabbable">
        {% if accommodation.id is not null %}
            {% include 'BackAccommodationBundle::menu.html.twig' %}
        {% endif %}
        <div class="tab-content">
            <div class="container-fluid container-fullw bg-white">
                <div class="row">
                    <div class="col-md-12">
                        <form action="{{ path('add_accommodation',{'id':accommodation.id}) }}" {{ form_enctype(form) }}  method="post" role="form" id="form">
                            {{ form_widget(form._token) }}
                            <div class="row">
                                {{ formulaire.input("col-md-2","Name",form.name,true) }}
                                {{ formulaire.select2("col-md-2","City",form.city,true) }}
                                {{ formulaire.select2("col-md-2","Type Accommodation",form.typeAccommodation,true) }}
                                {{ formulaire.select2("col-md-2","Currency",form.currency,true) }}
                                {{ formulaire.input("col-md-2","First payment",form.firstPayment,true) }}
                                {{ formulaire.input("col-md-2","Photo",form.image.file,true) }}
                            </div>
                            <div class="row">
                                {{ formulaire.input("col-md-12","Shot description",form.shortDescription,true) }}
                            </div>
                            <div class="row">
                                {{ formulaire.ckeditor("col-md-12","Long description",form.longDescription,true) }}
                            </div>
                            {{ macro.enregistrer }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}