{% extends ":Back:base.html.twig" %}
{% block title %}Gellery photo - {{ accommodation.name }}{% endblock %}
{% block body %}

    <div class="tabbable">
        {% if accommodation.id is not null %}
            {% include 'BackAccommodationBundle::menu.html.twig' %}
        {% endif %}
        <div class="tab-content">
            <div class="container-fluid container-fullw bg-white">
                <div class="row">
                    <div class="col-md-12">
                        <form action="{{ path('gallery_accommodation',{'id':accommodation.id}) }}" {{ form_enctype(form) }}  method="post" role="form" id="form">
                            {{ form_widget(form._token) }}
                            <div class="row">
                                {{ formulaire.input("col-md-3","Photo",form.file,true) }}
                            </div>
                            {{ macro.enregistrer }}
                        </form>
                    </div>
                </div>
                <div class="row">
                    {% for photo in accommodation.photos %}
                        <div class="col-sm-6 col-md-2">
                            <div class="thumbnail">
                                <img src="{{ photo.getAssetPath | imagine_filter('albums') }}" />
                                <div class="caption">
                                    <p>
                                        <a href="{{ path('delete_photo_accommodation',{'id':photo.id}) }}" onclick="javascript:return(confirm('Are you sure you want to delete this photo??'))" class="btn btn-o btn-primary">
                                            Delete
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}