{% set namebooking='Booking course :'~ booking.course %}
{% if booking.room is not null %}
    {% set namebooking=namebooking~' & Booking ROOM :' ~booking.room %}
{% endif %}
{% for extra in booking.extras %}
    {% set namebooking=namebooking~' & Extra '~loop.index~' :'~ extra %}
{% endfor %}

<center>
    <img src="http://cdn1.tnwcdn.com/wp-content/blogs.dir/1/files/2014/04/original.jpg" ><br>
    <img src="https://www.mountainchalets.com/layout/progress-bar.gif" >
</center>


<form action="{% if paypal.testMode %}https://www.sandbox.paypal.com/cgi-bin/webscr{% else %}https://www.paypal.com/cgi-bin/webscr{% endif %}" method="post" name="paypalForms">
    <input name="amount" type="hidden" value="{{ booking.total }}" /> 
    <input name="currency_code" type="hidden" value="{{ booking.currency.code }}" />
    <input name="shipping" type="hidden" value="0.00" />
    <input name="tax" type="hidden" value="0.00" />
    <input name="return" type="hidden" value="{{ url('book_school_thinkyou') }}" />
    <input name="cancel_return" type="hidden" value="{{ url('book_school_thinkyou') }}" />
    <input name="notify_url" type="hidden" value="{{ url('book_school_paypal') }}" />
    <input name="rm"type="hidden"  value="2" />
    <input type="hidden" name="page_style" value="paypal" />
    <input name="cmd" type="hidden" value="_xclick" />
    <input type="hidden" name="charset" value="utf-8" />
    <input name="business" type="hidden" value="{{ paypal.account }}" />
    <input name="item_name" type="hidden" value="{{ namebooking }}" />
    <input name="no_note" type="hidden" value="1" />
    <input name="lc" type="hidden" value="FR" />
    <input name="bn" type="hidden" value="PP-BuyNowBF" />
    <input name="custom" type="hidden" value="id={{ booking.id }}&entity={{ entity }}" />
</form>
<script>
    document.paypalForms.submit();
</script>

