{% extends ":Front:base.html.twig" %}
{% block title %}Book step 1{% endblock %}
{% block body %}
    <div class="page-title-container">
        <div class="container">
            <div class="page-title pull-left">
                <h2 class="entry-title">Book step 1</h2>
            </div>
        </div>
    </div>
    <section id="content" class="gray-area">
        <div class="container">
            <div class="row">
                <div id="main" class="col-sms-6 col-sm-8 col-md-9">
                    <div class="booking-section travelo-box">
                        <form class="booking-form" method="post" action="{{ path('book_school_step1') }}">
                            <div class="person-information">
                                <h2>See Courses, Prices & Dates</h2>

                                <div class="form-group row">
                                    <div class="col-md-5"><label>Courses</label></div>
                                    <div class="col-md-2"><label>Duration</label></div>
                                    <div class="col-md-3"><label>Starting Date</label></div>
                                    <div class="col-md-2"><label>Price</label></div>
                                </div>

                                {% for course in school.courses if (course.getMaxWeek!=0 or course.pathwayPrices|length>0) and course.startDates|length>0  %}
                                    <hr style="border-color:burlywood;  margin-top: 0px;">
                                    <div class="form-group row">
                                        <div class="col-md-5">
                                            <label style="padding-top: 7px;">
                                                <input  type="radio" name="course" required value="{{ course.id }}" style="vertical-align: sub;"/>
                                                <strong>{{ course }}</strong>
                                                <small>
                                                    (
                                                    {% if school.type==2 %}
                                                        {{ course.program }} ,
                                                    {% endif %}
                                                    {{ course.language }}
                                                    )
                                                </small>
                                            </label>
                                        </div>
                                        <div class="col-md-2">
                                            <select class="full-width Duration"  name="duration_{{ course.id }}" data-course="{{ course.id }}" >
                                                {% if school.type==2 %}
                                                    {% for price in course.pathwayPrices %}
                                                        <option value="{{ price.id }}">{{ price.name }}</option>
                                                    {% endfor %}
                                                {% endif %}
                                                {% if school.type==1 %}
                                                    {% for w in course.getMinWeek..course.getMaxWeek %}
                                                        <option value="{{ w }}">{{ w }} weeks </option>
                                                    {% endfor %}
                                                {% endif %}
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <select class="full-width"  name="startingDate_{{ course.id }}">
                                                {% for date in course.startDates if date.date|date('Y-m-d')>'now'|date('Y-m-d')  %}
                                                    <option value="{{ date.date|date('Y-m-d') }}">{{ date.date|date('D, d F Y') }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <label id="price_{{ course.id }}" style="  padding-top: 7px;">
                                                {% if school.type==1 %}
                                                    {{ course.calculePrice(course.getMinWeek) }} {{ course.schoolLocation.currency.code }}
                                                {% endif %}
                                                {% if school.type==2 %}
                                                    {{ course.calculePathwayPrice(course.getFirstPathwayPrice) }} {{ course.schoolLocation.currency.code }}
                                                {% endif %}
                                            </label>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 col-md-5">
                                    <button type="submit" class="full-width btn-large">Next step 2</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="sidebar col-sms-6 col-sm-4 col-md-3">
                    <div class="booking-details travelo-box">
                        <h4>Booking Details</h4>
                        <article class="image-box hotel listing-style1">
                            <figure class="clearfix">
                                <a href="javascript:void(0)" class="hover-effect middle-block">
                                    <img class="middle-item" src="{{ school.image.getAssetPath | imagine_filter('minature_front') }}" style="width: 70px;height: 70px">
                                </a>
                                <div class="travel-title">
                                    <h5 class="box-title">{{ school }}
                                        <small style="color: red">{{ school.showType}}</small>
                                        <small>{{ school.city.country|upper }} {{ school.city }}</small>
                                    </h5>
                                </div>
                            </figure>
                            <div class="details">
                                <div class="feedback">
                                    <div data-placement="bottom" data-toggle="tooltip" class="five-stars-container"><span style="width: {{ (school.stars/5) *100 }}%;" class="five-stars"></span></div>
                                    <span class="review">{{ school.reviews }} reviews</span>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
{% block jquery %}
    <script>

        tjq(document).ready(function () {
            tjq('.Duration').change(function () {
                var val = tjq(this).val();
                var course = tjq(this).data('course');
                tjq('#price_' + course).html('loading price ...');
                tjq.ajax({
                    url: '{{ path('ajax_update_price_course') }}',
                    data: {'val': val, 'course': course},
                    type: 'POST',
                    dataType: 'json',
                    success: function (json) {
                        tjq('#price_' + course).html(json['price']);
                    }
                });
            })
        })
    </script>

{% endblock %}