{% extends ":Front:base.html.twig" %}
{% block title %}Book step 1{% endblock %}
{% block body %}
    <div class="page-title-container">
        <div class="container">
            <div class="page-title pull-left">
                <h2 class="entry-title">Book step 1</h2>
            </div>
        </div>
    </div>
    <section id="content" class="gray-area">
        <div class="container">
            <div class="row">
                <div id="main" class="col-sms-6 col-sm-8 col-md-9">
                    <div class="booking-section travelo-box">
                        <form class="booking-form" method="post" action="{{ path('book_accommodation_step1') }}">
                            <div class="person-information">
                                <h2>See Rooms</h2>

                                <div class="form-group row">
                                    <div class="col-md-3"><label>Rooms</label></div>
                                    <div class="col-md-4"><label>Duration</label></div>
                                    <div class="col-md-3"><label>Starting Date</label></div>
                                    <div class="col-md-2"><label>Price</label></div>
                                </div>

                                {% for room in accommodation.rooms if room.prices|length>0 %}
                                    <hr style="border-color:burlywood;  margin-top: 0px;">
                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <label style="padding-top: 7px;">
                                                <input  type="radio" required name="room" value="{{ room.id }}" style="vertical-align: sub;"/>
                                                <strong>{{ room }}</strong>
                                            </label>
                                        </div>
                                        <div class="col-md-4">
                                            <select class="full-width DurationSelect"  name="price_{{ room.id }}" data-room="{{ room.id }}" >
                                                {% for price in room.prices %}
                                                    <option value="{{ price.id }}">{{ price.startDate|date('d F Y') ~' - '~ price.endDate|date('d F Y') }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="datepicker-wrap dark-blue">
                                                <input type="text" class="input-text full-width" name="startDate_{{ room.id }}" placeholder="mm/dd/yy" />
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label style="padding-top: 7px;" id="price_{{ room.id }}">
                                                {#{{ room.calculePrice(room.getFirstPrice) }} {{ accommodation.currency.code }}#}
                                                {{ convertCurrency(room.calculePrice(room.getFirstPrice) ,accommodation.currency.code) }} 
                                            </label>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 col-md-5">
                                    <button type="submit" class="full-width btn-large">Next step 3</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="sidebar col-sms-6 col-sm-4 col-md-3">
                    <div class="booking-details travelo-box">
                        <h4>Booking Details</h4>
                        <article class="image-box hotel listing-style1">
                            <figure class="clearfix">
                                <a href="javascript:void(0)" class="hover-effect middle-block">
                                    <img class="middle-item" src="{{ accommodation.image.getAssetPath | imagine_filter('minature_front') }}" style="width: 70px;height: 70px">
                                </a>
                                <div class="travel-title">
                                    <h5 class="box-title">{{ accommodation }}
                                        <small style="color: red">{{ accommodation.typeAccommodation}}</small>
                                        <small>{{ accommodation.city.country|upper }} {{ accommodation.city }}</small>
                                    </h5>
                                </div>
                            </figure>
                        </article>
                        {#                        {{ getBlockCourse()|raw }}#}
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
{% block jquery %}
    <script>
        tjq(document).ready(function () {
            tjq('.DurationSelect').change(function () {
                var val = tjq(this).val();
                var room = tjq(this).data('room');
                tjq('#price_' + room).html('loading price ...');
                tjq.ajax({
                    url: '{{ path('ajax_update_accommodation_price_accommodation') }}',
                    data: {'val': val, 'room': room},
                    type: 'POST',
                    dataType: 'json',
                    success: function (json) {
                        tjq('#price_' + room).html(json['price']);
                    }
                });
            })
        })
    </script>

{% endblock %}