<div class="col-sm-4 col-md-3">
    <div class="icon-box style3 counters-box">
        <div class="numbers">
            <i class="soap-icon-hotel hotel-color"></i>
            <span class="display-counter" data-value="{{ count }}">0</span>
        </div>
        <div class="description">Results found.</div>
    </div>
    {% if city!='all' %}
{#        <div class="icon-box style3 counters-box">
            <div class="numbers">
                <img src='{{ asset(getPhotoCity(city)) }}' style="width: 220px;height: 127px" >
            </div>
            <div class="description">{{ getNameCity(city) }}</div>
        </div>#}
        <div class="icon-box style3 counters-box">
            <div class="travelo-google-map block"></div>
        </div>
    {% endif %}
    <div class="toggle-container filters-container">
        <div class="panel style1 arrow-right">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#keyword-filter" {#class="collapsed"#}>Refine search</a>
            </h4>
            <div id="keyword-filter" class="panel-collapse collapse in">
                <div class="panel-content">
                    <form method="post"  action="{{ path('front_language_courses_filtre',{'page':1,'language':language,'country':country,'city':city,'stars':stars,'keyword':keyword,'sort':'name','desc':desc}) }}"  >
                        <div class="form-group">
                            <label>Keyword</label>
                            <div>
                                <input type="text" class="input-text full-width" name="keywordSearch" value="{% if keyword is not null %}{{ keyword }}{% endif %}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Stars</label>
                            <div class="selector">
                                <select class="full-width" name="starsSearch">
                                    <option value="">All</option>
                                    {% for i in 1..5 %}
                                        <option value="{{ i }}" {% if stars==i %}selected{% endif %}>{{ i }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Language</label>
                            <div class="selector">
                                <select class="full-width" name="languageSearch">
                                    <option value="">All languages</option>
                                    {% for lang in languages %}
                                        <option value="{{ lang.id }}" {% if language==lang.id %}selected{% endif %}>{{ lang|title  }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Country</label>
                            <div class="selector">
                                <select class="full-width" id="CountrySelect1" name="countrySearch">
                                    <option value="">All countries</option>
                                    {% for count in countries %}
                                        <option value="{{ count.id }}" {% if count.id==country %}selected{% endif %}>{{ count|title  }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>City</label>
                            <div class="selector">
                                <select class="full-width" id="CitySelect1" name="citySearch">
                                    <option value="">All cities</option>
                                    {% for cit in cities %}
                                        <option value="{{ cit.id }}" {% if cit.id==city %}selected{% endif %}>{{ cit|title  }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-2"><a style="  margin-top: 8px;" class="button btn-mini red" href="{{ path('front_language_courses') }}">Reset</a></div>
                                <div class="col-xs-2"> </div>
                                <div class="col-xs-8"><button class="btn-medium icon-check uppercase full-width">Search</button> </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>