{% extends ":Back:base.html.twig" %}
{% block title %}Add new school location{% endblock %}
{% block body %}
    <div class="container-fluid container-fullw bg-white">
        <div class="row">
            <div class="col-md-12">
                <form action="{{ path('add_school') }}" {{ form_enctype(form) }}  method="post" role="form" id="form">
                    {{ form_widget(form._token) }}
                    <div class="row">
                        {{ formulaire.input("col-md-2","Name",form.name,true) }}
                        {{ formulaire.select2("col-md-2","School",form.school,true) }}
                        {{ formulaire.input("col-md-2","Type",form.type,true) }}
                        {{ formulaire.select2("col-md-2","City",form.city,true) }}
                        {{ formulaire.input("col-md-2","Photo",form.image.file,true) }}
                    </div>
                    <div class="row">
                        {{ formulaire.input("col-md-3","Stars",form.stars,true) }}
                        {{ formulaire.input("col-md-3","Note",form.note,true) }}
                        {{ formulaire.input("col-md-3","Reviews",form.reviews,true) }}
                    </div>
                    <div class="row">
                        {{ formulaire.input("col-md-12","Shot description",form.shortDescription,true) }}
                    </div>
                    <div class="row">
                        {{ formulaire.ckeditor("col-md-12","Long description",form.longDescription,true) }}
                    </div>
                    {{ macro.enregistrer }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}