{% extends ":Back:base.html.twig" %}
{% block title %}School locations{% endblock %}
{% block body %}
    <div class="container-fluid container-fullw bg-white">
        <div class="row">
            <div class="col-md-12">
                <h5 class="over-title margin-bottom-15"><span class="text-bold">List</span></h5>
                <table class="table table-striped table-bordered table-hover table-full-width" id="">
                    <thead>
                        <tr>
                            <th>Photo</th>
                            <th>Name</th>
                            <th>Type</th>
                            <th>City</th>
                            <th>School</th>
                            <th>Avg Price</th>
                            <th>Note</th>
                            <th>Reviews</th>
                            <th>Courses</th>
                            <th>Accommodations</th>
                            <th>HomePage</th>
                            <th>State</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for school in schools %}
                            <tr>
                                <td class="center">
                                    {% if school.image.getAssetPath is defined %}
                                        <img class="img-rounded"  src="{{ school.image.getAssetPath | imagine_filter('small') }}" />
                                    {% endif %}
                                </td>
                                <td>{{ school.name }}</td>
                                <td>{{ school.showType }}</td>
                                <td>{{ school.city.country.code }}, {{ school.city }}</td>
                                <td>{{ school.school }}</td>
                                <td>{{ school.avgPrice }} {{ school.currency.code }}</td>
                                <td>{{ school.note }}/5</td>
                                <td>{{ school.reviews }} reviews</td>
                                <td>{{ school.courses|length }}</td>
                                <td>{{ school.accommodations|length }}</td>
                                <td class="center">
                                    {% if school.homepage %}
                                        <a href="{{ path('homepage_school',{'id':school.id}) }}" ><span class="label label-sm label-success">Displayed</span></a>
                                    {% else %}
                                        <a href="{{ path('homepage_school',{'id':school.id}) }}"><span class="label label-sm label-danger">Not displayed</span></a>
                                    {% endif %}
                                </td>
                                <td class="center">
                                    {% if school.enabled %}
                                        <a href="{{ path('enabled_school',{'id':school.id}) }}" ><span class="label label-sm label-success">Enabled</span></a>
                                    {% else %}
                                        <a href="{{ path('enabled_school',{'id':school.id}) }}"><span class="label label-sm label-danger">Disabled</span></a>
                                    {% endif %}
                                </td>
                                <td class="center">
                                    {{ macro.fiche(path('edit_school',{'id':school.id})) }}
                                    {{ macro.clone(path('clone_school',{'id':school.id})) }}
                                    {{ macro.delete(path('delete_school_location',{'id':school.id})) }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="navigation">
                    {{ knp_pagination_render(schools) }}
                </div>
            </div>
        </div>

    </div>

{% endblock %}