<ul class="nav nav-tabs">
    <li {% if app.request.get('_route')=='edit_school' %}class="active"{% endif %}>
        <a href="{{ path('edit_school',{'id':school.id}) }}">
            {{ school.name }}
        </a>
    </li>
    <li {% if app.request.get('_route')=='gallery_school' %}class="active"{% endif %}>
        <a href="{{ path('gallery_school',{'id':school.id}) }}">
            Photo Gallery ({{ school.photos|length }})
        </a>
    </li>
    <li {% if app.request.get('_route')in ['list_courses','edit_courses','startdate_courses','price_courses','pathway_price_courses'] %}class="active"{% endif %}>
        <a href="{{ path('list_courses',{'id':school.id}) }}">
            Courses ({{ school.courses|length }})
        </a>
    </li>
    <li {% if app.request.get('_route')in ['list_accommodations','edit_accommodations','rooms_accommodations','price_accommodations','pathway_price_accommodations'] %}class="active"{% endif %}>
        <a href="{{ path('list_accommodations',{'id':school.id}) }}">
            Accommodations ({{ school.accommodations|length }})
        </a>
    </li>
    <li {% if app.request.get('_route')in ['list_extras'] %}class="active"{% endif %}>
        <a href="{{ path('list_extras',{'id':school.id}) }}">
            Extras ({{ school.extras|length }})
        </a>
    </li>
</ul>