{% extends ":Back:base.html.twig" %}
{% block title %}University{% endblock %}
{% block body %}
    <div class="tabbable">
        {% include 'BackUniversityBundle::menu.html.twig' %}
        <div class="tab-content">
            <div class="container-fluid container-fullw bg-white">
                <div class="row">
                    <div class="col-md-12">
                        <form action="{{ path('course_title_startingdate',{'id':courseTitle.id}) }}" {{ form_enctype(form) }}  method="post" role="form" id="form">
                            {{ form_widget(form._token) }}
                            <div class="row">
                                {{ formulaire.input("col-md-2","Date",form.date,true) }}
                            </div>
                            {{ macro.enregistrer }}
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h5 class="over-title margin-bottom-15"><span class="text-bold">List</span></h5>
                        <table class="table table-striped table-bordered table-hover table-full-width" id="">
                            <thead>
                                <tr>
                                    <th class="center" >Date</th>
                                    <th class="center" >Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for startDate in courseTitle.startDates %}
                                    <tr>
                                        <td class="center">
                                            {% if "now"|date("Y-m-d") >=  startDate.date|date("Y-m-d") %}
                                    <s>{{ startDate.date|date("l  d/m/Y") }}</s>
                                    {% else %}  
                                        {{ startDate.date|date("l  d/m/Y") }}
                                    {% endif %}    
                                </td>
                                <td class="center">
                                    {{ macro.delete(path('delete_course_title_startingdate',{'id':startDate.id})) }}
                                </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}