{% extends ":Front:base.html.twig" %}
{% block title %}{{ accommodation }}{% endblock %}
{% block body %}
    <div class="page-title-container">
        <div class="container">
            <div class="page-title pull-left">
                <h2 class="entry-title">{{ accommodation|title }}</h2>
            </div>
        </div>
    </div>
    <section id="content">
        <div class="container">
            <div class="row">
                <div id="main" class="col-md-9">
                    {% if accommodation.photos|length!=0 %}
                        <div class="tab-container style1" id="hotel-main-content">
                            <div class="tab-content">
                                <div id="photos-tab" class="tab-pane fade in active">
                                    <div class="photo-gallery style1" data-animation="slide" data-sync="#photos-tab .image-carousel">
                                        <ul class="slides">
                                            {% for photo in accommodation.photos %}
                                                <li>
                                                    <img src="{{ photo.getAssetPath | imagine_filter('album_front') }}" style="width: 900px;height: 500px" />
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="image-carousel style1" data-animation="slide" data-item-width="70" data-item-margin="10" data-sync="#photos-tab .photo-gallery">
                                        <ul class="slides">
                                            {% for photo in accommodation.photos %}
                                                <li>
                                                    <img src="{{ photo.getAssetPath | imagine_filter('minature_front') }}" alt="" />
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div id="hotel-features" class="tab-container">
                        <ul class="tabs">
                            <li class="active"><a href="#hotel-descriptio" data-toggle="tab">Description</a></li>
                                {% if accommodation.rooms|length!=0 %}
                                <li><a href="#Accommodation-rooms" data-toggle="tab">Rooms</a></li>
                                {% endif %}
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="hotel-descriptio">
                                <div class="long-description">
                                    {{ accommodation.longDescription|raw }}
                                </div>
                            </div>
                            <div class="tab-pane fade" id="Accommodation-rooms">
                                <h2>Available Rooms</h2>
                                <div class="toggle-container" id="room-accommodation">
                                    {% for room in accommodation.rooms %}
                                        <div class="panel style1">
                                            <h2 class="panel-title">
                                                <a class="collapsed"  data-parent="#room-accommodation" href="#room{{ loop.index }}" data-toggle="collapse">{{ room }}</a>
                                            </h2>
                                            <div class="panel-collapse collapse" id="room{{ loop.index }}">
                                                <div class="panel-content">
                                                    <p>{{ room.description }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="sidebar col-md-3">
                    <article class="detailed-logo" id="hotel-reviews">
                        <figure>
                            <img width="114" height="85" src="{{ accommodation.image.getAssetPath | imagine_filter('minature_details') }}" alt="">
                        </figure>
                        <div class="details">
                            <h2 class="box-title">{{ accommodation|title }}
                                <small style="color:red">
                                    {{ accommodation.typeAccommodation|title }} 
                                </small>
                                <small><i class="soap-icon-departure yellow-color"></i><span class="fourty-space">{{ accommodation.city.country|upper }}, {{ accommodation.city }}</span></small>
                            </h2>
                            <span class="price clearfix">
                                <small class="pull-left">AVG/WEEK</small>
                                <p class="prix">{{ accommodation.avgPrice ~' '~ accommodation.currency.code }} </p>
                                {% if app.session.get('currency').code!=accommodation.currency.code %}<span class="currency">{{ convertCurrency(accommodation.avgPrice,accommodation.currency.code) }}</span>{% endif %}
                            </span>
                            <p class="description">{{ accommodation.shortDescription }}</p>
                            <a class="button yellow full-width uppercase btn-small" href="{{ path('book_accommodation_redirect',{'id':accommodation.id}) }}" >Get a quote & Book</a>
                        </div>
                    </article>
                    {% if accommodations|length>1 %}
                        <div class="travelo-box">
                            <h4>Others accommodations in {{ accommodation.city }}</h4>
                            <div class="image-box style14">
                                {% for acc in accommodations if acc.id!=accommodation.id %}
                                    <article class="box">
                                        <figure>
                                            <a href="{{ path('front_accommodations_details',{'id':acc.id}) }}"><img src="{{ acc.image.getAssetPath | imagine_filter('small') }}" /></a>
                                        </figure>
                                        <div class="details">
                                            <h5 class="box-title"><a href="{{ path('front_accommodations_details',{'id':acc.id}) }}">{{ acc|title }}</a></h5>
                                        </div>
                                    </article>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}