{% extends ":Front:base.html.twig" %}
{% block title %}{{ accommodation }}{% endblock %}
{% block body %}
    <div class="page-title-container">
        <div class="container">
            <div class="page-title pull-left">
                <h2 class="entry-title">{{ accommodation|title }}</h2>
            </div>
        </div>
    </div>
    <section id="content">
        <div class="container">
            <div class="row">
                <div id="main" class="col-md-9">
                    {% if accommodation.photos|length!=0 %}
                        <div class="tab-container style1" id="hotel-main-content">
                            <div class="tab-content">
                                <div id="photos-tab" class="tab-pane fade in active">
                                    <div class="photo-gallery style1" data-animation="slide" data-sync="#photos-tab .image-carousel">
                                        <ul class="slides">
                                            {% for photo in accommodation.photos %}
                                                <li>
                                                    <img src="{{ photo.getAssetPath | imagine_filter('album_front') }}" style="width: 900px;height: 500px" />
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="image-carousel style1" data-animation="slide" data-item-width="70" data-item-margin="10" data-sync="#photos-tab .photo-gallery">
                                        <ul class="slides">
                                            {% for photo in accommodation.photos %}
                                                <li>
                                                    <img src="{{ photo.getAssetPath | imagine_filter('minature_front') }}" alt="" />
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div id="hotel-features" class="tab-container">
                        {% include ':Front:notification.html.twig' %}
                        <ul class="tabs">
                            <li class="active"><a href="#hotel-descriptio" data-toggle="tab">Description</a></li>
                                {% if accommodation.rooms|length!=0 %}
                                    <li><a href="#Accommodation-rooms" data-toggle="tab">Rooms</a></li>
                                {% endif %}
                                {% if reviews|length>0 %}
                                    <li><a href="#hotel-reviews" data-toggle="tab">Reviews</a></li>
                                {% endif %}
                                <li><a href="#hotel-write-review" data-toggle="tab">Write a review</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="hotel-descriptio">
                                <div class="long-description">
                                    {{ accommodation.longDescription|raw }}
                                </div>
                            </div>
                            <div class="tab-pane fade" id="Accommodation-rooms">
                                <h2>Available Rooms</h2>
                                <div class="toggle-container" id="room-accommodation">
                                    {% for room in accommodation.rooms %}
                                        <div class="panel style1">
                                            <h2 class="panel-title">
                                                <a class="collapsed"  data-parent="#room-accommodation" href="#room{{ loop.index }}" data-toggle="collapse">{{ room }}</a>
                                            </h2>
                                            <div class="panel-collapse collapse" id="room{{ loop.index }}">
                                                <div class="panel-content">
                                                    <p>{{ room.description }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% if reviews|length>0 %}
                                <div class="tab-pane fade" id="hotel-reviews">
                                    <div class="intro table-wrapper full-width hidden-table-sms">
                                        <div class="rating table-cell col-sm-4">
                                            <span class="score">{{ accommodation.note }}/5</span>
                                            <div class="five-stars-container"><div class="five-stars" style="width: {{ (accommodation.note/5) *100 }}%;"></div></div>
                                        </div>
                                    </div>
                                    <div class="guest-reviews">
                                        <h2>Guest Reviews</h2>
                                        {% for review in reviews %}
                                            <div class="guest-review table-wrapper">
                                                <div class="col-xs-3 col-md-2 author table-cell">
                                                    <a href="#"><img src="http://movingmountains.biz//wp-content/uploads/2012/02/Person-Avatar.png" alt="" width="270" height="263" /></a>
                                                    <p class="name">{{ review.name }}</p>
                                                    <p class="date">{{ review.reviewDate|date('d F Y') }}</p>
                                                </div>
                                                <div class="col-xs-9 col-md-10 table-cell comment-container">
                                                    <div class="comment-header clearfix">
                                                        <h4 class="comment-title">{{ review.title }}</h4>
                                                        <div class="review-score">
                                                            <div class="five-stars-container"><div class="five-stars" style="width: {{ review.note/5*100 }}%;"></div></div>
                                                            <span class="score">{{ review.note }}/5</span>
                                                        </div>
                                                    </div>
                                                    <div class="comment-content">
                                                        <p style="min-width: 660px;">{{ review.text }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                            <div class="tab-pane fade" id="hotel-write-review">
                                {{ form_start(form) }}
                                <div class="form-group row">
                                    {{ formulaire.input("col-md-4","Name",form.name,true) }}
                                </div> 
                                <div class="form-group row">
                                    {{ formulaire.input("col-md-4","Title of your review",form.title,true) }}
                                </div> 
                                <div class="form-group row">
                                    {{ formulaire.input("col-md-8","Your review",form.text,true) }}
                                </div> 
                                <div class="form-group row">
                                    {{ formulaire.input("col-md-8","note",form.note,true) }}
                                </div> 
                                <div class="form-group col-md-5 no-float no-padding no-margin">
                                    <button type="submit" class="btn-large full-width">SUBMIT REVIEW</button>
                                </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebar col-md-3">
                    <article class="detailed-logo" id="hotel-reviews">
                        <figure>
                            <img width="114" height="85" src="{{ accommodation.image.getAssetPath | imagine_filter('minature_details') }}" alt="">
                        </figure>
                        <div class="details">
                            <h2 class="box-title">{{ accommodation|title }}
                                <small style="color:red">
                                    {{ accommodation.typeAccommodation|title }} 
                                </small>
                                <small><i class="soap-icon-departure yellow-color"></i><span class="fourty-space">{{ accommodation.city.country|upper }}, {{ accommodation.city }}</span></small>
                            </h2>
                            <span class="price clearfix">
                                <small class="pull-left">AVG/WEEK</small>
                                <p class="prix">{{ accommodation.avgPrice ~' '~ accommodation.currency.code }} </p>
                                {% if app.session.get('currency').code!=accommodation.currency.code %}<span class="currency">{{ convertCurrency(accommodation.avgPrice,accommodation.currency.code) }}</span>{% endif %}
                            </span>
                            <p class="description">{{ accommodation.shortDescription }}</p>
                            <a class="button full-width uppercase btn-small" href="{{ path('book_accommodation_redirect',{'id':accommodation.id}) }}" >Get a quote & Book</a>
                        </div>
                    </article>
                    {% if accommodations|length>1 %}
                        <div class="travelo-box">
                            <h4>Others accommodations in {{ accommodation.city }}</h4>
                            <div class="image-box style14">
                                {% for acc in accommodations if acc.id!=accommodation.id %}
                                    <article class="box">
                                        <figure>
                                            <a href="{{ path('front_accommodations_details',{'id':acc.id}) }}"><img src="{{ acc.image.getAssetPath | imagine_filter('small') }}" /></a>
                                        </figure>
                                        <div class="details">
                                            <h5 class="box-title"><a href="{{ path('front_accommodations_details',{'id':acc.id}) }}">{{ acc|title }}</a></h5>
                                        </div>
                                    </article>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}