{% import ":Back:form.html.twig" as formulaire %}
{% import ":Back:macro.html.twig" as macro %}
<!DOCTYPE html>
<!--[if IE 8]>          <html class="ie ie8"> <![endif]-->
<!--[if IE 9]>          <html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->  <html> <!--<![endif]-->
    <head>
        <!-- Page Title -->
        <title>{% block title %}World Wide Studies{% endblock %}</title>

        <!-- Meta Tags -->
        <meta charset="utf-8">
        <meta name="keywords" content="World Wide Studies" />
        <meta name="description" content="World Wide Studies">
        <meta name="author" content="World Wide Studies">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block stylesheets %}
            <!-- Theme Styles -->
            <link rel="stylesheet" href="{{ asset('front-assets/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('front-assets/css/font-awesome.min.css') }}">
            <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" href="{{ asset('front-assets/css/animate.min.css') }}">
            <!-- Current Page Styles -->
            <link rel="stylesheet" type="text/css" href="{{ asset('front-assets/components/revolution_slider/css/settings.css') }}" media="screen" />
            <link rel="stylesheet" type="text/css" href="{{ asset('front-assets/components/revolution_slider/css/style.css') }}" media="screen" />
            <link rel="stylesheet" type="text/css" href="{{ asset('front-assets/components/jquery.bxslider/jquery.bxslider.css') }}" media="screen" />
            <link rel="stylesheet" type="text/css" href="{{ asset('front-assets/components/flexslider/flexslider.css') }}" media="screen" />
            <!-- Main Style -->
            <link id="main-style" rel="stylesheet" href="{{ asset('front-assets/css/style.css') }}">

            <link id="main-style" rel="stylesheet" href="{{ asset('front-assets/css/togle.css') }}">
            <!-- Custom Styles -->
            <link rel="stylesheet" href="{{ asset('front-assets/css/custom.css') }}">
            <!-- Updated Styles -->
            <link rel="stylesheet" href="{{ asset('front-assets/css/updates.css') }}">
            <!-- Responsive Styles -->
            <link rel="stylesheet" href="{{ asset('front-assets/css/responsive.css') }}">
            <!-- CSS for IE -->
            <!--[if lte IE 9]>
                <link rel="stylesheet" type="text/css" href="{{ asset('front-assets/css/ie.css') }}" />
            <![endif]-->
            <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!--[if lt IE 9]>
              <script type='text/javascript' src="http://html5shiv.googlecode.com/svn/trunk/html5.js') }}"></script>
              <script type='text/javascript' src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js') }}"></script>
            <![endif]-->
            <style>
                .currency{
                    color: gray;
                    font-size: 12px;
                }
                .prix{
                    white-space: nowrap;
                    margin: 0px;
                }
                .symbol.required:before {
                    content: "*";
                    display: inline;
                    color: #E6674A;
                }
                .BackgroundBlock{
                    background: url("{{ asset('front-assets/images/background.jpg') }}") no-repeat center center !important;
                    min-height: 880px !important;
                    background-size: 2080px 1362px !important;
                }
                #footer{
                    background: #613082;
                    color: white;
                }
                #footer h2 {
                    margin-bottom: 20px;
                    color: white;
                    border-bottom: 1px solid white;
                }
                #footer .contact-phone {
                    color: white;
                    border-bottom: 1px solid white;
                }
                #footer .gray-area {
                    background: #613082;
                }
                #footer .bottom #back-to-top i {
                    border-color: white;
                    font-weight: bold;
                    overflow: hidden;
                }
                #footer .bottom #back-to-top {
                    margin-top: 20px;
                    display: block;
                    font-size: 16px;
                    color: white;
                }
                ul.triangle li.active, ul.triangle li.active:before, ul.triangle.hover li:hover, ul.triangle.hover li:hover .box-title, ul.triangle.hover li:hover:before {
                    color: red;
                }
            </style>
        {% endblock %}
        {% if app.request.get('_route')=='root' or  app.request.get('_route')=='accueil'%}
            <style>
                section#content {  min-height: 1000px; padding: 0; position: relative; overflow: hidden; }
                #main { padding-top: 200px; }
                .page-title, .page-description { color: #fff; }
                .page-title { font-size: 4.1667em; font-weight: bold; }
                .page-description { font-size: 2.5em; margin-bottom: 50px; }
                .featured { position: absolute; right: 50px; bottom: 50px; z-index: 9; margin-bottom: 0;  text-align: right; }
                .featured figure a { border: 2px solid #fff; }
                .featured .details { margin-right: 10px; }
                .featured .details > * { color: #fff; line-height: 1.25em; margin: 0; font-weight: bold; text-shadow: 2px -2px rgba(0, 0, 0, 0.2); }
            </style>
        {% endif %}
    </head>
    <body>
        <div id="fb-root"></div>
        <script>
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id))
                    return;
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.3&appId=770925942943303";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
        <div id="page-wrapper">
            {% include ':Front:header.html.twig' %}
            {% block body %}
            {% endblock %}
            {% include ':Front:footer.html.twig' %}
        </div>
        {% block javascripts %}
            <!-- Javascript -->
            <script type="text/javascript" src="{{ asset('front-assets/js/jquery-1.11.1.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('front-assets/js/jquery.noconflict.js') }}"></script>
            <script type="text/javascript" src="{{ asset('front-assets/js/modernizr.2.7.1.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('front-assets/js/jquery-migrate-1.2.1.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('front-assets/js/jquery.placeholder.js') }}"></script>
            <script type="text/javascript" src="{{ asset('front-assets/js/jquery-ui.1.10.4.min.js') }}"></script>
            <!-- Twitter Bootstrap -->
            <script type="text/javascript" src="{{ asset('front-assets/js/bootstrap.js') }}"></script>
            <!-- load revolution slider scripts -->
            <script type="text/javascript" src="{{ asset('front-assets/components/revolution_slider/js/jquery.themepunch.plugins.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('front-assets/components/revolution_slider/js/jquery.themepunch.revolution.min.js') }}"></script>
            <!-- Flex Slider -->
            <script type="text/javascript" src="{{ asset('front-assets/components/flexslider/jquery.flexslider-min.js') }}"></script>
            <!-- load BXSlider scripts -->
            <script type="text/javascript" src="{{ asset('front-assets/components/jquery.bxslider/jquery.bxslider.min.js') }}"></script>
            <!-- parallax -->
            <script type="text/javascript" src="{{ asset('front-assets/js/jquery.stellar.min.js') }}"></script>
            <!-- waypoint -->
            <script type="text/javascript" src="{{ asset('front-assets/js/waypoints.min.js') }}"></script>
            <!-- load page Javascript -->
            <script type="text/javascript" src="{{ asset('front-assets/js/theme-scripts.js') }}"></script>
            <script type="text/javascript" src="{{ asset('front-assets/js/scripts.js') }}"></script>
        {% endblock %}
    {% block jquery %}{% endblock %}
</body>
</html>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-55818b0e85ab5878" async="async"></script>

