{#<footer id="footer">
    <div class="bottom">
        <div class="container">
            <div class="logo pull-left">
                <a href="{{ path('accueil') }}" title="Home page" style=" background: url('{{ render(controller('FrontGeneralBundle:Front:logo')) }}') no-repeat 0 0;">
                    <img src="{{ render(controller('FrontGeneralBundle:Front:logo')) }}" alt="" />
                </a>
            </div>
            <div class="pull-right">
                <a id="back-to-top" href="#" class="animated" data-animation-type="bounce"><i class="soap-icon-longarrow-up circle"></i></a>
            </div>
            <div class="copyright pull-right">
                <p>&copy; 2015 World wide studies</p>
            </div>
        </div>
    </div>
</footer>#}
<footer id="footer">
    <div class="footer-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <h2>Discover</h2>
                    <ul class="discover triangle hover row">
                        <li class="col-xs-6"><a href="#">Safety</a></li>
                        <li class="col-xs-6"><a href="#">About</a></li>
                        <li class="col-xs-6"><a href="#">Travelo Picks</a></li>
                        <li class="col-xs-6"><a href="#">Latest Jobs</a></li>
                        <li class="active col-xs-6"><a href="#">Mobile</a></li>
                        <li class="col-xs-6"><a href="#">Press Releases</a></li>
                        <li class="col-xs-6"><a href="#">Why Host</a></li>
                        <li class="col-xs-6"><a href="#">Blog Posts</a></li>
                        <li class="col-xs-6"><a href="#">Social Connect</a></li>
                        <li class="col-xs-6"><a href="#">Help Topics</a></li>
                        <li class="col-xs-6"><a href="#">Site Map</a></li>
                        <li class="col-xs-6"><a href="#">Policies</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <h2>Travel News</h2>
                    <ul class="travel-news">
                        <li>
                            <div class="thumb">
                                <a href="#">
                                    <img src="http://placehold.it/63x63" alt="" width="63" height="63" />
                                </a>
                            </div>
                            <div class="description">
                                <h5 class="s-title"><a href="#">Amazing Places</a></h5>
                                <p>Purus ac congue arcu cursus ut vitae pulvinar massaidp.</p>
                                <span class="date">25 Sep, 2013</span>
                            </div>
                        </li>
                        <li>
                            <div class="thumb">
                                <a href="#">
                                    <img src="http://placehold.it/63x63" alt="" width="63" height="63" />
                                </a>
                            </div>
                            <div class="description">
                                <h5 class="s-title"><a href="#">Travel Insurance</a></h5>
                                <p>Purus ac congue arcu cursus ut vitae pulvinar massaidp.</p>
                                <span class="date">24 Sep, 2013</span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <h2>Mailing List</h2>
                    <p>Sign up for our mailing list to get latest updates and offers.</p>
                    <br />
                    <div class="icon-check">
                        <input type="text" class="input-text full-width" placeholder="your email" />
                    </div>
                    <br />
                    <span>We respect your privacy</span>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <h2>About Travelo</h2>
                    <p>Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massaidp nequetiam lore elerisque.</p>
                    <br />
                    <address class="contact-details">
                        <span class="contact-phone"><i class="soap-icon-phone"></i> 1-800-123-HELLO</span>
                        <br />
                        <a href="#" class="contact-email">help@travelo.com</a>
                    </address>
                    <ul class="social-icons clearfix">
                        <li class="twitter"><a title="twitter" href="#" data-toggle="tooltip"><i class="soap-icon-twitter"></i></a></li>
                        <li class="googleplus"><a title="googleplus" href="#" data-toggle="tooltip"><i class="soap-icon-googleplus"></i></a></li>
                        <li class="facebook"><a title="facebook" href="#" data-toggle="tooltip"><i class="soap-icon-facebook"></i></a></li>
                        <li class="linkedin"><a title="linkedin" href="#" data-toggle="tooltip"><i class="soap-icon-linkedin"></i></a></li>
                        <li class="vimeo"><a title="vimeo" href="#" data-toggle="tooltip"><i class="soap-icon-vimeo"></i></a></li>
                        <li class="dribble"><a title="dribble" href="#" data-toggle="tooltip"><i class="soap-icon-dribble"></i></a></li>
                        <li class="flickr"><a title="flickr" href="#" data-toggle="tooltip"><i class="soap-icon-flickr"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom gray-area">
        <div class="container">
            <div class="logo pull-left">
                <a href="{{ path('accueil') }}" title="Home page" style=" background: url('{{ render(controller('FrontGeneralBundle:Front:logo')) }}') no-repeat 0 0;">
                    <img src="{{ render(controller('FrontGeneralBundle:Front:logo')) }}" alt="" />
                </a>
            </div>
            <div class="pull-right">
                <a id="back-to-top" href="#" class="animated" data-animation-type="bounce"><i class="soap-icon-longarrow-up circle"></i></a>
            </div>
            <div class="copyright pull-right">
                <p>&copy; 2015 World wide studies</p>
            </div>
        </div>
    </div>
</footer>
