<nav id="mobile-menu-01" class="mobile-menu collapse">
    <ul id="mobile-primary-menu" class="menu">
        {{ render(controller('FrontGeneralBundle:Front:menu',{'route':app.request.get('_route')})) }}
    </ul>

    <ul class="mobile-topnav container">
        <li class="ribbon language menu-color-skin">
            <a href="#">
                {% if app.request.getLocale()=='fr' %}
                    Français
                {% endif %}
                {% if app.request.getLocale()=='en' %}
                    English
                {% endif %}
            </a>
            <ul class="menu mini">
                <li {% if app.request.getLocale()=='en' %}class="active"{% endif %}><a href="{{ path('accueil',{'_locale':'en'}) }}">English</a></li>
                <li {% if app.request.getLocale()=='fr' %}class="active"{% endif %}><a href="{{ path('accueil',{'_locale':'fr'}) }}">Français</a></li>
            </ul>
        </li>
        {% if  app.security.token is null or not is_granted('ROLE_USER') %}
            <li><a href="{{ path('fos_user_security_login') }}">LOGIN</a></li>
            <li><a href="{{ path('fos_user_registration_register') }}">SIGNUP</a></li>
            {% else %}
            <li class="ribbon currency">
                <a href="javascript:void(0)">{{ app.user.username }}</a>
                <ul class="menu mini">
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a target="_blank" href="{{ path('dashboard') }}">Back Office</a></li>
                        {% endif %}
                    <li><a href="{{ path('fos_user_profile_edit') }}">Edit profile</a></li>
                    <li><a href="{{ path('fos_user_change_password') }}">Change password</a></li>
                    <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                </ul>
            </li>
        {% endif %}
    </ul>

</nav>