{% extends ":Back:base.html.twig" %}
{% block title %}Page contact{% endblock %}
{% block body %}
    <div class="container-fluid container-fullw bg-white">
        <div class="row">
            <div class="col-md-12">
                {{ form_start(form) }}
                    <div class="row">
                        {{ formulaire.input("col-md-4","Address",form.address,true) }}
                        {{ formulaire.input("col-md-2","Email",form.email,true) }}
                        {{ formulaire.input("col-md-2","Phone",form.phone,true) }}
                        {{ formulaire.input("col-md-2","Fax",form.fax,true) }}
                    </div>
                    <div class="row">
                        {{ formulaire.select2("col-md-4","Facebook",form.facebook,true) }}
                    </div>
                    <div class="row">
                        {{ formulaire.select2("col-md-4","Google Plus",form.googlePlus,true) }}
                    </div>
                    <div class="row">
                        {{ formulaire.select2("col-md-4","Twitter",form.twitter,true) }}
                    </div>
                    <div class="row">
                        {{ formulaire.select2("col-md-4","LinkedIn",form.linkedIn,true) }}
                    </div>
                    {{ macro.enregistrer }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}