{% extends ":Back:base.html.twig" %}
{% block title %} Dashboard {% endblock %}
{% block body %}
    <div class="container-fluid container-fullw bg-white">
        <div class="row">
            <div class="col-sm-1 links cl-effect-13">
            </div>
            <div class="col-sm-2 links cl-effect-13">
                <div class="panel panel-white no-radius text-center">
                    <a href="{{ path('list_schoolLanguage') }}">
                        <div class="panel-body">
                            <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-comment fa-stack-1x fa-inverse"></i> </span>
                            <h5 class="StepTitle">Language Schools ({{ countSchoolLocationsLanguage }})</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-2 links cl-effect-13">
                <div class="panel panel-white no-radius text-center">
                    <a href="{{ path('list_schoolPathway') }}">
                        <div class="panel-body">
                            <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-flask fa-stack-1x fa-inverse"></i> </span>
                            <h5 class="StepTitle">Pathway schools ({{ countSchoolLocationsPathway }})</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-2 links cl-effect-13">
                <div class="panel panel-white no-radius text-center">
                    <a href="{{ path('list_accommodation') }}">
                        <div class="panel-body">
                            <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-hotel fa-stack-1x fa-inverse"></i> </span>
                            <h5 class="StepTitle">Accommodations ({{ countAccommodations }}) </h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-2 links cl-effect-13">
                <div class="panel panel-white no-radius text-center">
                    <a href="{{ path('list_university') }}">
                        <div class="panel-body">
                            <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-mortar-board fa-stack-1x fa-inverse"></i> </span>
                            <h5 class="StepTitle">Universities ({{ countUniversitys }}) </h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-2 links cl-effect-13">
                <div class="panel panel-white no-radius text-center">
                    <a href="{{ path('administrator') }}">
                        <div class="panel-body">
                            <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-group fa-stack-1x fa-inverse"></i> </span>
                            <h5 class="StepTitle">Administrators ({{ countAdmins }}) </h5>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}