{% extends ":Back:base.html.twig" %}
{% block title %}levels of study{% endblock %}
{% block body %}
    <div class="container-fluid container-fullw bg-white">
        <div class="row">
            <div class="col-md-12">
                <form action="{{ path('level',{'id':level.id}) }}" {{ form_enctype(form) }}  method="post" role="form" id="form">
                    {{ form_widget(form._token) }}
                    <div class="row">
                        {{ formulaire.input("col-md-3","Name",form.name,true) }}
                    </div>
                    {{ macro.enregistrer }}
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h5 class="over-title margin-bottom-15"><span class="text-bold">List</span></h5>
                <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
                    <thead>
                        <tr>
                            <th class="center">Name</th>
                            <th class="center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for level in levels %}
                            <tr>
                                <td class="center">{{ level.name }}</td>
                                <td class="center">
                                    {{ macro.edit(path('level',{'id':level.id})) }}
                                    {{ macro.delete(path('delete_level',{'id':level.id})) }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>

{% endblock %}