{% extends ":Back:base.html.twig" %}
{% block title %}{{ school.name }}{% endblock %}
{% block description %}Course Subject{% endblock %}
{% block body %}
    <div class="tabbable">
        {% include 'BackSchoolBundle:school:menu.html.twig' %}
        {% include 'BackSchoolBundle:courses:menu.html.twig' %}
        <div class="tab-content">
            <div class="container-fluid container-fullw bg-white">
                <div class="row">
                    <div class="col-md-12">
                        {{ form_start(form) }}
                        <div class="row">
                            {{ formulaire.input("col-md-4","Name",form.name,true) }}
                        </div>
                        {{ macro.enregistrer }}
                        {{ form_end(form) }}
                    </div>
                    <div class="col-md-12">
                        <h5 class="over-title margin-bottom-15">Course Subject <span class="text-bold">list</span></h5>
                        <table class="table" id="sample-table-1">
                            <thead>
                                <tr>
                                    <th class="center">Name</th>
                                    <th class="center">Descriptions</th>
                                    <th class="center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for courseSubject in course.courseSubjects %}
                                    <tr>
                                        <td class="center">{{ courseSubject.name }}</td>
                                        <td class="center">{{ courseSubject.descriptions|length }}</td>
                                        <td class="center">
                                            {{ macro.fiche(path('course_subject',{'id':course.id,'id2':courseSubject.id})) }}
                                            {{ macro.delete(path('delete_course_subject',{'id':courseSubject.id})) }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}