{% extends ":Back:base.html.twig" %}
{% block title %}{{ school.name }}{% endblock %}
{% block description %}Course Subject{% endblock %}
{% block body %}
    <div class="tabbable">
        {% include 'BackSchoolBundle:school:menu.html.twig' %}
        {% include 'BackSchoolBundle:courses:menu.html.twig' %}
        <div class="tab-content">
            <div class="container-fluid container-fullw bg-white">
                <div class="row">
                    <div class="col-md-12">
                        {{ form_start(form) }}
                        <div class="row">
                            {{ formulaire.select2("col-md-4","Course Subject",form.courseSubject,true) }}
                            {{ formulaire.input("col-md-4","Title",form.title,true) }}
                        </div>
                        <div class="row">
                            {{ formulaire.ckeditor("col-md-12","Description",form.description,true) }}
                        </div>
                        {{ macro.enregistrer }}
                        {{ form_end(form) }}
                    </div>
                    <div class="col-md-12">
                        <h5 class="over-title margin-bottom-15">Course Subject <span class="text-bold">list</span></h5>
                        <table class="table table-hover" id="sample-table-1">
                            <thead>
                                <tr>
                                    <th class="center">Course subject</th>
                                    <th class="center">Title</th>
                                    <th class="center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for courseSubject in course.courseSubjects %}
                                    {% for description in courseSubject.descriptions %}
                                        <tr>
                                            {% if loop.index == 1 %}
                                                <td class="center" rowspan="{{ courseSubject.descriptions|length }}">{{ courseSubject }}</td>
                                            {% endif %}
                                            <td class="center">{{ description.title }}</td>
                                            <td class="center">
                                                {{ macro.fiche(path('course_subject_description',{'id':course.id,'id2':description.id})) }}
                                                {{ macro.delete(path('delete_course_subject_description',{'id':description.id})) }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}