{% extends ":Back:base.html.twig" %}
{% block title %}{{ school.name }}{% endblock %}
{% block body %}
    <div class="tabbable">
        {% include 'BackSchoolBundle:school:menu.html.twig' %}
        {% include 'BackSchoolBundle:courses:menu.html.twig' %}
        <div class="tab-content">
            <div class="container-fluid container-fullw bg-white">
                <div class="row">
                    <div class="col-md-12">
                        <form action="{{ path('edit_courses',{'id':school.id,'course':course.id}) }}" {{ form_enctype(form) }}  method="post" role="form" id="form">
                            {{ form_widget(form._token) }}
                            <div class="row">
                                {% if school.type == 1 %}
                                    {{ formulaire.input("col-md-3","Name",form.name,true) }}
                                    {{ formulaire.select2("col-md-3","Language course",form.language,true) }}
                                {% endif %}
                                {% if school.type == 2 %}
                                    {{ formulaire.select2("col-md-3","Subject",form.subject,true) }}
                                    {{ formulaire.select2("col-md-3","Pathways programs",form.program,true) }}
                                    {{ formulaire.select2("col-md-3","Language",form.language,true) }}
                                {% endif %}
                            </div>
                            <div class="row">
                                {{ formulaire.input("col-md-9","Description",form.description,true) }}
                            </div>
                            {{ macro.enregistrer }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}