<ul class="nav nav-tabs">
    <li {% if app.request.get('_route')=='edit_courses' %}class="active"{% endif %}>
        <a href="{{ path('edit_courses',{'id':school.id,'course':course.id}) }}">
            {{ course.name }} {{ course.subject }}
        </a>
    </li>
    <li {% if app.request.get('_route')=='startdate_courses' %}class="active"{% endif %}>
        <a href="{{ path('startdate_courses',{'id':school.id,'course':course.id}) }}">
            Start dates ({{ course.startDates|length }})
        </a>
    </li>
    {% if school.type==1  %}
        <li {% if app.request.get('_route')=='price_courses' %}class="active"{% endif %}>
            <a href="{{ path('price_courses',{'id':school.id,'course':course.id}) }}">
                Price ({{ course.prices|length }})
            </a>
        </li>
    {% else %}
        <li {% if app.request.get('_route')=='pathway_price_courses' %}class="active"{% endif %}>
            <a href="{{ path('pathway_price_courses',{'id':school.id,'course':course.id}) }}">
                Price ({{ course.pathwayPrices|length }})
            </a>
        </li>
    {% endif %}
</ul>