{% extends ":Back:base.html.twig" %}
{% block title %}{{ school.name }}{% endblock %}
{% block description %}Courses{% endblock %}
{% block body %}
    <div class="tabbable">
        {% include 'BackSchoolBundle:school:menu.html.twig' %}
        {% include 'BackSchoolBundle:courses:menu.html.twig' %}
        <div class="tab-content">
            <div class="container-fluid container-fullw bg-white">
                <div class="row">
                    <div class="col-md-12">
                        <form action="{{ path('price_courses',{'id':school.id,'course':course.id}) }}" {{ form_enctype(form) }}  method="post" role="form" id="form">
                            {{ form_widget(form._token) }}
                            <div class="row">
                                {{ formulaire.input("col-md-2","Week start",form.weekStart,true) }}
                                {{ formulaire.input("col-md-2","Week end",form.weekEnd,true) }}
                                {{ formulaire.input("col-md-2","Price",form.price,true) }}
                                {{ formulaire.input("col-md-2","",form.fix,false) }}
                            </div>
                            {{ macro.enregistrer }}
                        </form>
                    </div>
                    <div class="col-md-12">
                        <h5 class="over-title margin-bottom-15">Prices <span class="text-bold">list</span></h5>
                        <table class="table table-hover" id="sample-table-1">
                            <thead>
                                <tr>
                                    <th class="center">Weeks</th>
                                    <th class="center">Price</th>
                                    <th class="center">Stat</th>
                                    <th class="center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for price in course.prices %}
                                    <tr>
                                        <td class="center">{{ price }}</td>
                                        <td class="center">{{ price.price }}  {{ price.course.schoolLocation.currency.code }}</td>
                                        <td class="center">{{ price.shoxFix }}</td>
                                        <td class="center">
                                            {{ macro.delete(path('delete_price_courses',{'id':price.id})) }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}