{% extends ":Front:base.html.twig" %}
{% block title %}Universities{% endblock %}
{% block body %}
    <div class="page-title-container">
        <div class="container">
            <div class="page-title pull-left">
                <h2 class="entry-title">Universities</h2>
            </div>
        </div>
    </div>
    <section id="content">
        <div class="container">
            <div id="main">
                <div class="row">
                    {% include 'FrontGeneralBundle:Universities:filtre.html.twig' %}
                    <div class="col-sm-8 col-md-9">
                        {% include 'FrontGeneralBundle:Universities:sort.html.twig' %}
                        <div class="hotel-list listing-style3 hotel">
                            {% for course in courses %}
                                <article class="box">
                                    <figure class="col-sm-5 col-md-4">
                                        <img style="width: 270px;height: 160px" alt="" src="{{ course.university.image.getAssetPath | imagine_filter('list') }}">
                                    </figure>
                                    <div class="details col-sm-7 col-md-8">
                                        <div>
                                            <div>
                                                <h4 class="box-title"> {{ course.name|title }} 
                                                    <small style="color:red">
                                                        {{ course.university.nameUniversity|upper }} s{{ course.university.name|title }}
                                                    </small>
                                                    <small>
                                                        <i class="soap-icon-departure yellow-color"></i>
                                                        {{ course.university.city.country.code|upper }}, {{ course.university.city }}
                                                    </small>
                                                </h4>
                                            </div>
                                            <div>
                                                {#<p>Excellent ! {{ course.note }}/5</p>
                                                <span class="review">{{ course.reviews }} reviews</span>#}
                                            </div>
                                        </div>
                                        <div>
                                            <p>{{ course.description }}</p>
                                            <div>
                                                <span class="price"><small>PRICE</small>{{ course.price }} {{ course.university.currency.code }} </span>
                                                <a class="button btn-small full-width text-center" title="" href="{{ path('front_courses_title_details',{'id':course.id}) }}">SELECT</a>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            {% endfor %}
                        </div>
                        <div class="navigation">
                            {{ knp_pagination_render(courses) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% if city!='all' %}
        <script type='text/javascript' src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
        <script type="text/javascript" src="{{ asset('front-assets/js/gmap3.min.js')}}"></script>
        <script type="text/javascript">
            tjq(".travelo-google-map").gmap3({
                map: {
                    options: {
                        center: [{{ getGeoLocationCity(city) }}],
                        zoom: 9
                    }
                },
                marker: {
                    values: [
                        {latLng: [{{ getGeoLocationCity(city) }}], data: "{{ getNameCity(city) }}"}

                    ],
                    options: {
                        draggable: false
                    },
                }
            });
        </script>
    {% endif %}
    <script>
        tjq(document).ready(function () {
            tjq('#CountrySelect1').on('change', function () {
                var city = tjq('#CitySelect1');
                city.empty();
                city.append('<option value="">Loading ...</option>');
                updateTraveloElementUI(city);
                var id = tjq(this).val();
                tjq.ajax({
                    url: '{{ path('ajax_country_to_city') }}',
                    data: {'id': id},
                    type: 'POST',
                    dataType: 'json',
                    success: function (json) {
                        city.empty();
                        tjq.each(json, function (index, value) {
                            city.append('<option value="' + index + '">' + value + '</option>');
                            updateTraveloElementUI(city);
                        });
                    }
                });
            })
        })
    </script>
{% endblock %}